<div class="spell-panel grid-span-2">
  <div class="spell-name">
    <input
      name='name'
      type='text'
      value='{{name}}'
      data-action="update"
      placeholder='Name'/>
  </div>
  <div class="spell-attributes grid grid-2col">
    <div class="flexrow">
      <span class="spell-duration">{{localize 'UTOPIA.Item.Spells.duration'}}</span>
      <span class="spell-duration-value">{{system.durationOut}}</span>
    </div>
    <div class="flexrow">
      <span class="spell-range">{{localize 'UTOPIA.Item.Spells.range'}}</span>
      <span class="spell-range-value">{{system.rangeOut}}</span>
    </div>
    <div class="flexrow">
      <span class="spell-aoe">{{localize 'UTOPIA.Item.Spells.aoeShort'}}</span>
      <span class="spell-aoe-value">{{system.aoe}}</span>
    </div>
    <div class="flexrow">
      <span class="spell-cost">{{localize 'UTOPIA.Item.Spells.stamina'}}</span>
      <span class="spell-cost-value">{{system.cost}}</span>
    </div>
  </div>
  <div class="spell-features">
    <ol class="selected-feature-list flexcol">
      {{#each system.features as |feature key|}}
        <li class="feature" style="background: {{feature.background}}; color: {{feature.color}}" data-id="{{key}}">
          <img src="{{feature.img}}" class="feature-icon" />
          <button type="button" class="remove-feature hidden">
            <i class="fa-fw fa-solid fa-times"></i>
          </button>
          <span class="feature-name">
            <span data-tooltip="{{feature.system.description}}" data-tooltip-direction="DOWN"><i class="fa-fw fa-solid fa-circle-info"></i></span>
            {{feature.name}} 
            (<span id="cost" class="cost">{{feature.cost}}</span>)
          </span>
          <div class="feature-controls">
            {{#each feature.system.variables as |variable varKey|}}
              {{#if (eq varKey "stacks")}}
                <div class="flexrow feature-variable">
                  <input type="number" 
                        min="{{variable.minimum}}" 
                        max="{{variable.maximum}}" 
                        value="{{variable.value}}"
                        data-feature="{{key}}" 
                        data-variable="{{varKey}}" />
                  <span class="feature-variable-character"><i class="fa-solid fa-cubes-stacked"></i></span>
                </div>
              {{else if (eq variable.kind "number")}}
                <div class="flexrow feature-variable">
                  <input type="number" 
                        min="{{variable.minimum}}" 
                        max="{{variable.maximum}}" 
                        value="{{variable.value}}"
                        data-feature="{{key}}" 
                        data-variable="{{varKey}}" />
                  <span class="feature-variable-character">{{variable.character}}</span>
                </div>
              {{else if (eq variable.kind "options")}}
                <div class="flexrow feature-variable">
                  <button type="button" class="feature-variable-options {{#if (eq feature.value "")}}unset{{/if}}"
                          data-variable="{{varKey}}"
                          data-feature="{{key}}">
                    <i class="fa-fw fa-solid fa-list"></i>
                  </button>
                </div>
              {{/if}}
            {{/each}}
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
  <div class="spell-flavor">
    <textarea name="flavor" placeholder="{{localize 'UTOPIA.Item.Spells.flavor'}}">{{system.flavor}}</textarea>
  </div>
  <div class="spell-controls">
    <button type="button" data-action="cast">{{localize 'UTOPIA.Item.Spells.cast'}}</button>
    <button type="button" data-action="edit">{{localize 'UTOPIA.Item.Spells.spellcrafting'}}</button>
  </div>
</div>  