<div class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <div class="standard-attributes">
    <fieldset class="attribute-set">
      <legend class="label">{{localize "UTOPIA.CommonTerms.attributes"}}</legend>
      <div class="form-group slim">
        <label for="system.attributeRequirements" class="label">{{localize "UTOPIA.Item.SpecialistTalent.attributeRequirements"}}</label>
        {{formInput systemFields.attributeRequirements name="system.attributeRequirements" value=system.attributeRequirements localize=true}}
      </div> 
      <div class="form-group slim">
        <label for="system.speciesRequirements" class="label">{{localize "UTOPIA.Item.SpecialistTalent.speciesRequirements"}}</label>
        {{formInput systemFields.speciesRequirements name="system.speciesRequirements" value=system.speciesRequirements localize=true}}
      </div> 
      <div class="form-group slim">
        <label for="system.talentRequirements" class="label">{{localize "UTOPIA.Item.SpecialistTalent.talentRequirements"}}</label>
        {{formInput systemFields.talentRequirements name="system.talentRequirements" value=system.talentRequirements localize=true}}
      </div> 
      <div class="form-group slim">
        <label for="system.talentTreeRequirements" class="label">{{localize "UTOPIA.Item.SpecialistTalent.talentTreeRequirements"}}</label>
        {{formInput systemFields.talentTreeRequirements name="system.talentTreeRequirements" value=system.talentTreeRequirements localize=true}}
      </div> 
      <div class="form-group slim">
        <label for="system.artistryRequirements" class="label">{{localize "UTOPIA.Item.SpecialistTalent.artistryRequirements"}}</label>
        {{formInput systemFields.artistryRequirements name="system.artistryRequirements" value=system.artistryRequirements localize=true}}
      </div> 
    </fieldset>

    <br>

    <div class="flexrow">
      <select class="add-options" name="addOptions" id="addOptions" data-action="addOptions">
        <option value="action">{{localize "UTOPIA.Item.action"}}</option>
        <option value="resource">{{localize "UTOPIA.Item.Gear.resource"}}</option>
      </select>
      <button type="button" class="add-item" data-action="addItem">
        <i class="fas fa-plus"></i>
        {{localize "UTOPIA.Math.add"}}
      </button>
    </div>

    {{#each system.actions as |action|}}
      <details class="action">
        <summary><i class="fas fa-wand"></i> <b>{{localize "UTOPIA.Item.action"}}:</b> {{action.name}}</summary>
        
        <fieldset class="action-attributes">
          <legend><i class="fas fa-wand-magic-sparkles"></i> {{localize "UTOPIA.Item.Action.attributes"}}</legend>

          <div class="flexcol grid-span-2">
            <label for="actions.{{@index}}.name">{{localize "UTOPIA.Item.Action.name"}}</label>
            {{formInput ../systemFields.action.fields.name value=action.name name=(concat "system.actions." @index ".name") localize=true}}
          </div>

          <div class="flexcol">
            <label for="actions.{{@index}}.category">{{localize "UTOPIA.Item.Action.category"}}</label>
            {{formInput ../systemFields.action.fields.category value=action.category name=(concat "system.actions." @index ".category") localize=true}}
          </div>

          <div class="flexcol">
            <label for="actions.{{@index}}.type">{{localize "UTOPIA.Item.Action.type"}}</label>
            {{formInput ../systemFields.action.fields.type value=action.type name=(concat "system.actions." @index ".type") localize=true}}
          </div>

          <div class="flexcol">
            <label for="actions.{{@index}}.cost">{{localize "UTOPIA.Item.Action.cost"}}</label>
            {{formInput ../systemFields.action.fields.cost value=action.cost name=(concat "system.actions." @index ".cost") localize=true}}
          </div>

          <div class="flexcol">
            <label for="actions.{{@index}}.stamina">{{localize "UTOPIA.Item.Action.stamina"}}</label>
            {{formInput ../systemFields.action.fields.stamina value=action.stamina name=(concat "system.actions." @index ".stamina") localize=true}}
          </div>
          
          {{#if (eq action.category "trait")}}
            <div class="flexcol">
              <label for="actions.{{@index}}.trait">{{localize "UTOPIA.Item.Action.trait"}}</label>
              {{formInput ../systemFields.action.fields.trait value=action.trait name=(concat "system.actions." @index ".trait") localize=true}}
            </div>

            <div class="flexcol grid-span-2">
              <label for="actions.{{@index}}.modifier">{{localize "UTOPIA.Item.Action.modifier"}}</label>
              {{formInput ../systemFields.action.fields.modifier value=action.modifier name=(concat "system.actions." @index ".modifier") localize=true}}
            </div>
          {{/if}}

          {{#if (eq action.category "damage")}}
            <div class="flexcol grid-span-2">
              <label for="actions.{{@index}}.formula">{{localize "UTOPIA.CommonTerms.formula"}}</label>
              {{formInput ../systemFields.action.fields.formula value=action.formula name=(concat "system.actions." @index ".formula") localize=true}}
            </div>

            <div class="flexcol">
              <label for="actions.{{@index}}.template">{{localize "UTOPIA.Item.Action.template"}}</label>
              {{formInput ../systemFields.action.fields.template value=action.template name=(concat "system.actions." @index ".template") localize=true}}
            </div>
          {{/if}}

          {{#if (eq action.category "macro")}}
            <div class="flexcol grid-span-2">
              <label for="actions.{{@index}}.macro">{{localize "UTOPIA.Item.Action.macro"}}</label>
              {{formInput ../systemFields.action.fields.macro value=action.macro name=(concat "system.actions." @index ".macro") localize=true}}
            </div>

            <div class="flexcol">
              <label for="actions.{{@index}}.actor">{{localize "UTOPIA.Item.Action.actor"}}</label>
              {{formInput ../systemFields.action.fields.actor value=action.actor name=(concat "system.actions." @index ".actor") localize=true}}
            </div>
          {{/if}}

          <div class="flexcol grid-span-2">
            <label for="actions.{{@index}}.resource">{{localize "UTOPIA.Item.Action.resource"}}</label>
            {{formInput ../systemFields.action.fields.resource value=action.resource name=(concat "system.actions." @index ".resource") localize=true}}
          </div>

          <div class="flexcol">
            <label for="actions.{{@index}}.consumed">{{localize "UTOPIA.Item.Action.consumed"}}</label>
            {{formInput ../systemFields.action.fields.consumed value=action.consumed name=(concat "system.actions." @index ".consumed") localize=true}}
          </div>

          <div class="flexcol grid-span-3">
            <label for="actions.{{@index}}.flavor">{{localize "UTOPIA.Item.flavor"}}</label>
            {{formInput ../systemFields.action.fields.flavor value=action.flavor name=(concat "system.actions." @index ".flavor") localize=true}}
          </div>

        </fieldset>

        <button type="button" class="grid-span-2" data-action="deleteAction" data-index="{{@index}}"><i class="fas fa-trash"></i> {{localize "UTOPIA.Item.deleteAction"}}</button>
      </details>
    {{/each}}

    {{#each system.resources as |resource|}}
      <details class="resource">
        <summary><i class="fas fa-box"></i> <b>{{localize "UTOPIA.Item.Gear.resource"}}:</b> {{resource.name}}</summary>
        
        <fieldset class="resource-attributes">
          <legend><i class="fas fa-box-open"></i> <b>{{localize "UTOPIA.Item.Gear.resource"}}:</b> {{localize "UTOPIA.Item.Gear.Resource.attributes"}}</legend>

          <div class="flexcol grid-span-5">
            <label for="resource.{{@index}}.name">{{localize "UTOPIA.Item.Gear.Resource.name"}}</label>
            {{formInput ../systemFields.resource.fields.name value=resource.name name=(concat "system.resources." @index ".name") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.amount">{{localize "UTOPIA.Item.Gear.Resource.amount"}}</label>
            {{formInput ../systemFields.resource.fields.amount value=resource.amount name=(concat "system.resources." @index ".amount") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.max.formula">{{localize "UTOPIA.Item.Gear.Resource.max"}}</label>
            {{formInput ../systemFields.resource.fields.max.fields.formula value=resource.max.formula name=(concat "system.resources." @index ".max.formula") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.recoverAmount">{{localize "UTOPIA.Item.Gear.Resource.recoverAmount"}}</label>
            {{formInput ../systemFields.resource.fields.recoverAmount value=resource.recoverAmount name=(concat "system.resources." @index ".recoverAmount") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.recoverInterval">{{localize "UTOPIA.Item.Gear.Resource.recoverInterval"}}</label>
            {{formInput ../systemFields.resource.fields.recoverInterval value=resource.recoverInterval name=(concat "system.resources." @index ".recoverInterval") localize=true}}
          </div>
          
          {{!-- <div class="flexcol">
            <label for="resource.{{@index}}.propagateToActor">{{localize "UTOPIA.Item.Gear.Resource.propagateToActor"}}</label>
            <label class="switch" for="resource.propagateToActor">
              <input type="checkbox" id="resource.propagateToActor" name={{concat "system.resources." @index ".propagateToActor"}} {{#if (eq resource.propagateToActor true)}} checked {{/if}} />
              <div class="slider round"></div>
            </label>
          </div> --}}

        </fieldset>

        <button type="button" class="grid-span-2" data-action="deleteResource" data-index="{{@index}}"><i class="fas fa-trash"></i> {{localize "UTOPIA.CommonTerms.deleteResource"}}</button>
      </details>
    {{/each}}

  </div>
</div>