<table class="actor-components-table">
  <tr>
    <th></th>
    <th>Material</th>
    <th>Refinement</th>
    <th>Power</th>
  </tr>
  <tr>
    <th>Crude</th>
    <td>{{formInput systemFields.components.fields.crude.fields.material value=system.components.crude.material name='system.components.crude.material' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.crude.fields.refinement value=system.components.crude.refinement name='system.components.crude.refinement' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.crude.fields.power value=system.components.crude.power name='system.components.crude.power' localize=true}}</td>
  </tr>
  <tr>
    <th>Common</th>
    <td>{{formInput systemFields.components.fields.common.fields.material value=system.components.common.material name='system.components.common.material' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.common.fields.refinement value=system.components.common.refinement name='system.components.common.refinement' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.common.fields.power value=system.components.common.power name='system.components.common.power' localize=true}}</td>
  </tr>
  <tr>
    <th>Extraordinary</th>
    <td>{{formInput systemFields.components.fields.extraordinary.fields.material value=system.components.extraordinary.material name='system.components.extraordinary.material' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.extraordinary.fields.refinement value=system.components.extraordinary.refinement name='system.components.extraordinary.refinement' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.extraordinary.fields.power value=system.components.extraordinary.power name='system.components.extraordinary.power' localize=true}}</td>
  </tr>
  <tr>
    <th>Rare</th>
    <td>{{formInput systemFields.components.fields.rare.fields.material value=system.components.rare.material name='system.components.rare.material' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.rare.fields.refinement value=system.components.rare.refinement name='system.components.rare.refinement' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.rare.fields.power value=system.components.rare.power name='system.components.rare.power' localize=true}}</td>
  </tr>
  <tr>
    <th>Legendary</th>
    <td>{{formInput systemFields.components.fields.legendary.fields.material value=system.components.legendary.material name='system.components.legendary.material' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.legendary.fields.refinement value=system.components.legendary.refinement name='system.components.legendary.refinement' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.legendary.fields.power value=system.components.legendary.power name='system.components.legendary.power' localize=true}}</td>
  </tr>
  <tr>
    <th>Mythical</th>
    <td>{{formInput systemFields.components.fields.mythical.fields.material value=system.components.mythical.material name='system.components.mythical.material' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.mythical.fields.refinement value=system.components.mythical.refinement name='system.components.mythical.refinement' localize=true}}</td>
    <td>{{formInput systemFields.components.fields.mythical.fields.power value=system.components.mythical.power name='system.components.mythical.power' localize=true}}</td>
  </tr>
</table>