<div class="override-content">
  {{#if canDock}}
    <div class="flexrow">
      <button type="button" class="dock-button" data-action="dock">
        <i class="fas fa-anchor"></i>
        {{#if docked}}
          {{localize "UTOPIA.SheetLabels.undock"}}
        {{else}}
          {{localize "UTOPIA.SheetLabels.dock"}}
        {{/if}}
      </button>
      <button type="button" class="swap-dock-side-button" data-action="swapDock">
        <i class="fas fa-left-right"></i>
        {{localize "UTOPIA.SheetLabels.swapDock"}}
      </button>
    </div>
  {{/if}}

  <div class="override-warning">
    <p>
      <i class="fas fa-exclamation-triangle"></i> 
      {{localize 'UTOPIA.CommonTerms.overrideWarning'}}
    </p>
    <br/>
    <p>
      {{localize 'UTOPIA.CommonTerms.overrideReEnable'}}
    </p>
  </div>

  <select class="override-select">
    {{!-- {{#each fieldsByParent as |fields parent|}}
      <optgroup label="-- {{parent}} --">
        {{#each fields as |field|}}
          {{log field}}
          <option value="{{field.index}}" {{#if (eq ../../selectedIndex field.index)}}selected{{/if}}>
            {{field.name}}
          </option>
        {{/each}}
      </optgroup>
    {{/each}} --}}

    {{#each fields as |field|}}
      <option value="{{field.fieldPath}}" {{#if (eq ../selectedIndex @index)}}selected{{/if}}>
        {{field.fieldPath}}
      </option>
    {{/each}}
  </select>

  <fieldset>
    <legend><i class="fas fa-pen-to-square"></i>&nbsp;&nbsp;{{selectedField.fieldPath}}</legend>

    <div class="override-input">
      {{#if selectedField}}
        {{formInput selectedField name=selectedField.fieldPath value=selectedField.value localize=true}}
      {{/if}}
    </div>
  </fieldset>

  <button type="submit"><i class="fa-solid fa-paper-plane-top"></i> {{localize 'UTOPIA.CommonTerms.submit'}}</button>
  
</div>