<div class="spell-panel">
  <div class="spell-name">
    <input
      name='name'
      type='text'
      value='{{name}}'
      data-action="update"
      placeholder='Name'/>
  </div>
  <div class="spell-attributes grid grid-3col">
    <span class="spell-duration">{{localize 'UTOPIA.Item.Spells.duration'}}: {{duration}}</span>
    <span class="spell-range">{{localize 'UTOPIA.Item.Spells.range'}}: {{range}}</span>
    <span class="spell-aoe">{{localize 'UTOPIA.Item.Spells.aoe'}}: {{aoe}}</span>
  </div>
  <div class="spell-features">
    <ol class="feature-list">
      {{#each features as |feature key|}}
        <li class="feature">
          <img src="{{feature.img}}" class="feature-icon" />
          <span class="feature-name">{{feature.name}}</span>
          <select class="feature-dice"></select>
          <div class="feature-controls">
            {{#each feature.variables as |variable key|}}
              {{#if (eq variable.kind "number")}}
                <div class="flexrow feature-variable">
                  <input type="number" value="{{variable.content}}" />
                  <span class="feature-variable-character">{{variable.character}}</span>
                </div>
              {{else}}
                <div class="flexrow feature-variable">
                  <button type="button" class="feature-variable" tooltip="{{variable.content}}"></button>
                  <span class="feature-variable-character">{{variable.character}}</span>
                <button type="button" class="feature-variable" tooltip="{{variable.content}}"></button>
              {{/if}}
            {{/each}}
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
  <div class="spell-controls">
    <button type="button" data-action="saveAndCast">{{localize UTOPIA.Spellcraft.saveAndCast}}</button>
    <button type="button" data-action="save">{{localize UTOPIA.Spellcraft.save}}</button>
    <button type="button" data-action="cast">{{localize UTOPIA.Spellcraft.cast}}</button>
  </div>
</div>  