<div class="tab settings {{tab.cssClass}}" data-group="primary" data-tab="settings">
  <h3>Settings</h3>

  {{#each settings as |setting key|}}
    <div class="setting">
      <div class="setting-header">
        {{#if (eq setting.type "checkbox")}}
          <label for="{{setting.name}}">{{setting.name}}</label>
          <label class="switch" for="{{setting.name}}">
            <input type="checkbox" data-setting="{{setting.key}}" id="{{setting.name}}" name="{{setting.name}}" {{#if (eq setting.value true)}} checked {{/if}} />
            <div class="slider round"></div>
          </label>
        {{else if (eq setting.type "secret")}}
          <label for="{{setting.name}}">{{setting.name}}</label>
          <input type="password" data-setting="{{setting.key}}" id="{{setting.name}}" name="{{setting.name}}" value="{{setting.value}}" />
        {{else}}
          <label for="{{setting.name}}">{{setting.name}}</label>
          <input type="text" data-setting="{{setting.key}}" id="{{setting.name}}" name="{{setting.name}}" value="{{setting.value}}" />
        {{/if}}
      </div>
      <span class="setting-hint">
        {{setting.hint}}
      </span>
    </div>
  {{/each}}

  <hr/>

  <div class="flexcol">
    <button data-action="authorize">Authorize and Connect to Twitch Chat</button>
  </div>
</div>