<div class="grid grid-3col">
  <!-- <aside class="compendium-browser-filters">
    <div class="grid grid-3col">

      
      {{#each filters as |filter key|}}
        <label for="{{filter.label}}">{{filter.label}}</label>
        <input class="grid-span-2 filter" type="text" id="{{filter.label}}-all" name="{{key}}" value="{{filter.value}}">
      {{/each}}

    </div>

    <button type="button" class="save-filter" data-action="saveFilter" title="{{localize "UTOPIA.CompendiumBrowser.Filters.saveFilter"}}">
      <i class="fas fa-floppy-disk"></i>&nbsp;{{localize "UTOPIA.CompendiumBrowser.Filters.saveFilter"}}
    </button>
  </aside> -->


  <div class="flexcol grid-span-3">
    <ol class="compendium-browser-items">
      {{#each items as |item|}}
        <li class="compendium-browser-item" data-action="viewDoc" data-name="{{item.name}}" data-id="{{item.id}}" data-uuid="{{item.uuid}}">
          <details>
            <summary>
              <span class="item-name">              
                <i class="fas {{../category.icon}}" style="padding: 0 1em;"></i>              
                {{item.name}}
       
                {{#if (gt item.value 0)}}
                  <span class="item-value positive">{{item.value}}</span>
                {{else}}
                  <span class="item-value negative">{{item.value}}</span>
                {{/if}}
              </span>
            </summary>
            <div class="item-details">
              {{#each item.details as |detail|}}
                <div class="item-detail" style="background-color: {{detail.backgroundColor}}; color: {{detail.color}};">
                  {{#if detail.icon}}
                    <i class="{{detail.icon}}"></i>
                  {{/if}}
                  {{detail.label}}: <b>{{detail.value}}</b>
                </div>
              {{/each}}
            </div>
            <hr/>
            <span class="item-description">{{{item.enrichedDescription}}}</span>
          </details>
        </li>
      {{/each}}
    </ol>
  </div>
</div>