<div class="flexcol">
  <h4>{{localize "UTOPIA.SheetLabels.compendiumBrowser"}}</h4>
  <span>{{localize "UTOPIA.CompendiumBrowser.dragDropHint"}}</span>

  <div class="compendium-browser-filters">
    <div class="compendium-browser-category">
      <label for="category-filter">{{localize "UTOPIA.CompendiumBrowser.Filters.category"}}</label>
      <select class="grid-span-2 filter" name="category-filter" value="{{category}}" placeholder="{{localize "UTOPIA.CompendiumBrowser.Filters.category"}}">
        {{#each categories as |category key|}}
          <option value="{{key}}" {{#if (eq ../category.key key)}}selected{{/if}}>{{category.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="compendium-browser-search">
      <input type="text" class="search filter" placeholder="{{localize "UTOPIA.Descriptions.filter"}}" value="{{filters.search}}" autofocus>
      <button class="search-button" data-action="filterChange"><i class="fas fa-magnifying-glass"></i>&nbsp;{{localize "UTOPIA.Descriptions.filter"}}</button>
    </div>
  </div>
</div>