<div>
  <h3>{{localize 'UTOPIA.Descriptions.pointsleft'}}: {{actor.system.points.subtrait}}</h3>

  <div class="grid grid-2col">
    
    <div class="flexcol subtrait-box">
      <h4><i class="fa-solid fa-bolt fa-fw"></i>&nbsp;{{localize 'UTOPIA.Trait.agi.long'}}</h4>
      <div class="flexrow data-blocks">
        <button class="subtrait" data-action="addPoint" data-trait="spd">
          <span>{{localize 'UTOPIA.Subtrait.spd.long'}} ({{subtraits.spd.value}}, {{subtraits.spd.mod}})</span>
        </button>
        <button class="subtrait" data-action="addPoint" data-trait="dex">
          <span>{{localize 'UTOPIA.Subtrait.dex.long'}} ({{subtraits.dex.value}}, {{subtraits.dex.mod}})</span>
        </button>
      </div>
    </div>

    <div class="flexcol subtrait-box">
      <h4><i class="fa-solid fa-hand-fist fa-fw"></i>&nbsp;{{localize 'UTOPIA.Trait.str.long'}}</h4>
      <div class="flexrow data-blocks">
        <button class="subtrait" data-action="addPoint" data-trait="pow">
          <span>{{localize 'UTOPIA.Subtrait.pow.long'}} ({{subtraits.pow.value}}, {{subtraits.pow.mod}})</span>
        </button>
        <button class="subtrait" data-action="addPoint" data-trait="for">
          <span>{{localize 'UTOPIA.Subtrait.for.long'}} ({{subtraits.for.value}}, {{subtraits.for.mod}})</span>
        </button>
      </div>
    </div>

    <div class="flexcol subtrait-box">
      <h4><i class="fa-solid fa-screwdriver-wrench fa-fw"></i>&nbsp;{{localize 'UTOPIA.Trait.int.long'}}</h4>
      <div class="flexrow data-blocks">
        <button class="subtrait" data-action="addPoint" data-trait="eng">
          <span>{{localize 'UTOPIA.Subtrait.eng.long'}} ({{subtraits.eng.value}}, {{subtraits.eng.mod}})</span>
        </button>
        <button class="subtrait" data-action="addPoint" data-trait="mem">
          <span>{{localize 'UTOPIA.Subtrait.mem.long'}} ({{subtraits.mem.value}}, {{subtraits.mem.mod}})</span>
        </button>
      </div>
    </div>

    <div class="flexcol subtrait-box">
      <h4><i class="fa-solid fa-eye fa-fw"></i>&nbsp;{{localize 'UTOPIA.Trait.wil.long'}}</h4>
      <div class="flexrow data-blocks">
        <button class="subtrait" data-action="addPoint" data-trait="res">
          <span>{{localize 'UTOPIA.Subtrait.res.long'}} ({{subtraits.res.value}}, {{subtraits.res.mod}})</span>
        </button>
        <button class="subtrait" data-action="addPoint" data-trait="awa">
          <span>{{localize 'UTOPIA.Subtrait.awa.long'}} ({{subtraits.awa.value}}, {{subtraits.awa.mod}})</span>
        </button>
      </div>
    </div>

    <div class="flexcol subtrait-box">
      <h4><i class="fa-solid fa-masks-theater fa-fw"></i>&nbsp;{{localize 'UTOPIA.Trait.dis.long'}}</h4>
      <div class="flexrow data-blocks">
        <button class="subtrait" data-action="addPoint" data-trait="por">
          <span>{{localize 'UTOPIA.Subtrait.por.long'}} ({{subtraits.por.value}}, {{subtraits.por.mod}})</span>
        </button>
        <button class="subtrait" data-action="addPoint" data-trait="stu">
          <span>{{localize 'UTOPIA.Subtrait.stu.long'}} ({{subtraits.stu.value}}, {{subtraits.stu.mod}})</span>
        </button>
      </div>
    </div>

    <div class="flexcol subtrait-box">
      <h4><i class="fa-solid fa-gem fa-fw"></i>&nbsp;{{localize 'UTOPIA.Trait.cha.long'}}</h4>
      <div class="flexrow data-blocks">
        <button class="subtrait" data-action="addPoint" data-trait="app">
          <span>{{localize 'UTOPIA.Subtrait.app.long'}} ({{subtraits.app.value}}, {{subtraits.app.mod}})</span>
        </button>
        <button class="subtrait" data-action="addPoint" data-trait="lan">
          <span>{{localize 'UTOPIA.Subtrait.lan.long'}} ({{subtraits.lan.value}}, {{subtraits.lan.mod}})</span>
        </button>
      </div>
    </div>

  </div>
</div>