<div class="tab biography {{tab.cssClass}}" data-group="primary" data-tab="biography">
  <div class="flexcol">
    <div class="flexrow">
      <div>
        <label for="system.biography.age">{{localize 'UTOPIA.Actor.biography.age'}}</label>
        <input type="number" class="biography-age" name="system.biography.age" placeholder="{{localize 'UTOPIA.Actor.biography.age'}}" value="{{system.biography.age}}"/>
      </div>
      <div>
        <label for="system.biography.religion">{{localize 'UTOPIA.Actor.biography.religion'}}</label>
        <input type="text" class="biography-religion" name="system.biography.religion" placeholder="{{localize 'UTOPIA.Actor.biography.religion'}}" value="{{system.biography.religion}}"/>
      </div>
    </div>
  </div>
</div>