<div class="tab spells {{tab.cssClass}}" data-group="primary" data-tab="spells">
  <h3 class="spellcap">{{localize 'UTOPIA.Descriptions.spellcap'}}: {{numberFormat system.spellcap decimals=0}}</h3>

  {{!-- Sheet Tab Navigation --}}
  <nav class="spell-tabs tabs" data-group="spells">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    {{#each spellTabs as |spellTab|}}
      <a class="item" data-spell-tab="{{spellTab.tab}}" data-group="spells">{{localize spellTab.label}}</a>
    {{/each}}
  </nav>

  <section class="spell-body">
    <div class="tab alteration {{spellTab.cssClass}}" data-group="spells" data-tab="alteration">
      <h4>{{localize 'UTOPIA.Spells.Alteration'}}</h4>
      <div class="grid grid-4col">
        {{#if system.spells.alteration}}
          {{#each system.spells.alteration as |spell|}}
            <button class="spell" data-action="roll" data-roll-type="item" data-item-id="{{spell.id}}">
              <h5>{{spell.name}}</h5>
              <p>{{spell.description}}</p>
            </button>
          {{/each}}
        {{else}}
          <p>{{localize 'UTOPIA.Spells.NoSpells'}}</p>
        {{/if}}
      </div>
    </div>

    <div class="tab array {{spellTab.cssClass}}" data-group="spells" data-tab="array">
      <h4>{{localize 'UTOPIA.Spells.Array'}}</h4>
      <div class="grid grid-4col">
        {{#if system.spells.array}}
          {{#each system.spells.array as |spell|}}
            <button class="spell" data-action="roll" data-roll-type="item" data-item-id="{{spell.id}}">
              <h5>{{spell.name}}</h5>
              <p>{{spell.description}}</p>
            </button>
          {{/each}}
        {{else}}
          <p>{{localize 'UTOPIA.Spells.NoSpells'}}</p>
        {{/if}}
      </div>  
    </div>

    <div class="tab divination {{spellTab.cssClass}}" data-group="spells" data-tab="divination">
      <h4>{{localize 'UTOPIA.Spells.Divination'}}</h4>
      <div class="grid grid-4col">
        {{#if system.spells.divination}}
          {{#each system.spells.divination as |spell|}}
            <button class="spell" data-action="roll" data-roll-type="item" data-item-id="{{spell.id}}">
              <h5>{{spell.name}}</h5>
              <p>{{spell.description}}</p>
            </button>
          {{/each}}
        {{else}}
          <p>{{localize 'UTOPIA.Spells.NoSpells'}}</p>
        {{/if}}
      </div>
    </div>

    <div class="tab enchantment {{spellTab.cssClass}}" data-group="spells" data-tab="enchantment">
      <h4>{{localize 'UTOPIA.Spells.Enchantment'}}</h4>
      <div class="grid grid-4col">
        {{#if system.spells.enchantment}}
          {{#each system.spells.enchantment as |spell|}}
            <button class="spell" data-action="roll" data-roll-type="item" data-item-id="{{spell.id}}">
              <h5>{{spell.name}}</h5>
              <p>{{spell.description}}</p>
            </button>
          {{/each}}
        {{else}}
          <p>{{localize 'UTOPIA.Spells.NoSpells'}}</p>
        {{/if}}
      </div>
    </div>

    <div class="tab evocation {{spellTab.cssClass}}" data-group="spells" data-tab="evocation">
      <h4>{{localize 'UTOPIA.Spells.Evocation'}}</h4>
      <div class="grid grid-4col">
        {{#if system.spells.evocation}}
          {{#each system.spells.evocation as |spell|}}
            <button class="spell" data-action="roll" data-roll-type="item" data-item-id="{{spell.id}}">
              <h5>{{spell.name}}</h5>
              <p>{{spell.description}}</p>
            </button>
          {{/each}}
        {{else}}
          <p>{{localize 'UTOPIA.Spells.NoSpells'}}</p>
        {{/if}}
      </div>
    </div>

    <div class="tab illusion {{spellTab.cssClass}}" data-group="spells" data-tab="illusion">
      <h4>{{localize 'UTOPIA.Spells.Illusion'}}</h4>
      <div class="grid grid-4col">
        {{#if system.spells.illusion}}
          {{#each system.spells.illusion as |spell|}}
            <button class="spell" data-action="roll" data-roll-type="item" data-item-id="{{spell.id}}">
              <h5>{{spell.name}}</h5>
              <p>{{spell.description}}</p>
            </button>
          {{/each}}
        {{else}}
          <p>{{localize 'UTOPIA.Spells.NoSpells'}}</p>
        {{/if}}
      </div>
    </div>

    <div class="tab necromancy {{spellTab.cssClass}}" data-group="spells" data-tab="necromancy">
      <h4>{{localize 'UTOPIA.Spells.Necromancy'}}</h4>
      <div class="grid grid-4col">
        {{#if system.spells.necromancy}}
          {{#each system.spells.necromancy as |spell|}}
            <button class="spell" data-action="roll" data-roll-type="item" data-item-id="{{spell.id}}">
              <h5>{{spell.name}}</h5>
              <p>{{spell.description}}</p>
            </button>
          {{/each}}
        {{else}}
          <p>{{localize 'UTOPIA.Spells.NoSpells'}}</p>
        {{/if}}
      </div>
    </div>

    <div class="tab wake {{spellTab.cssClass}}" data-group="spells" data-tab="wake">
      <h4>{{localize 'UTOPIA.Spells.Wake'}}</h4>
      <div class="grid grid-4col">
        {{#if system.spells.wake}}
          {{#each system.spells.wake as |spell|}}
            <button class="spell" data-action="roll" data-roll-type="item" data-item-id="{{spell.id}}">
              <h5>{{spell.name}}</h5>
              <p>{{spell.description}}</p>
            </button>
          {{/each}}
        {{else}}
          <p>{{localize 'UTOPIA.Spells.NoSpells'}}</p>
        {{/if}}
      </div>
    </div>
  </section>
</div>