<section class="grid grid-3col">
  <aside class="sidebar">

    <table class="ability-table">
      <tr>
        <th>(Sub)Trait</th>
        <th>Val</th>
        <th>Mod</th>
        <th></th>
        <th></th>
      </tr>
      {{#each system.traits as |trait key|}}
        <tr>
          <td class="rollable td-left" data-roll="3d6+@traits.{{key}}.mod">
            <span class="resource-label">{{localize (concat 'UTOPIA.Trait.' key '.long')}}</span>
          </td>
          <td class="td-center">{{numberFormat trait.value decimals=0}}</td>
          <td class="td-center">{{numberFormat trait.mod decimals=0 sign=true}}</td>
          <td></td>
          <td></td>
        </tr>
        {{#each trait.subtraits as |subtrait sub|}}
          <tr {{#if subtrait.gifted}} class="gifted" {{/if}}>
            <td class="rollable td-left" data-roll="3d6+@traits.{{key}}.subtraits.{{sub}}.mod"> 
              {{#if subtrait.gifted}}
                <span class="resource-label">&nbsp;<i class="fa-solid fa-gift"></i>&nbsp;&nbsp;-&nbsp;{{localize (concat 'UTOPIA.Subtrait.' sub '.long')}}</span>
              {{else}}
                <span class="resource-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;{{localize (concat 'UTOPIA.Subtrait.' sub '.long')}}</span>
              {{/if}}
            </td>
            <td class="td-center">{{numberFormat subtrait.value decimals=0}}</td>
            <td class="td-center">{{numberFormat subtrait.mod decimals=0 sign=true}}</td>
            <td>
              <button class="increase" data-trait="{{key}}" data-subtrait="{{sub}}">+</button>
            </td>
            <td>
              <button class="gift" data-trait="{{key}}" data-subtrait="{{sub}}">G</button>
            </td>
          </tr>
        {{/each}}
      {{/each}}
      
    </table>
  </aside>

  {{!-- For the main features list, span the right two columns --}}
  <section class="main grid-span-2">
    <div class="flexcol">

      <h3>{{localize 'UTOPIA.Descriptions.attributes'}}</h3>
      <div class="flexrow grid-3col">
        
        <button disabled>
          <i class="fa-solid fa-hand-fist"></i>
          {{localize 'UTOPIA.Attributes.constitution'}} - 
          {{numberFormat system.attributes.constitution decimals=0}}
        </button>
        
        <button disabled>
          <i class="fa-solid fa-wind"></i>
          {{localize 'UTOPIA.Attributes.endurance'}} - 
          {{numberFormat system.attributes.endurance decimals=0}}
        </button>
        
        <button disabled>
          <i class="fa-solid fa-ghost"></i>
          {{localize 'UTOPIA.Attributes.effervescence'}} - 
          {{numberFormat system.attributes.effervescence decimals=0}}
        </button>
        
      </div> 

      <hr/>

      <h3>{{localize 'UTOPIA.Descriptions.points'}}</h3>
      <div class="flexrow grid-3col">
        
        <button disabled>
          <i class="fa-solid fa-gift"></i>
          {{localize 'UTOPIA.Points.gifted'}} - 
          {{numberFormat system.points.gifted decimals=0}}
        </button>
        
        <button disabled>
          <i class="fa-solid fa-list"></i>
          {{localize 'UTOPIA.Points.subtrait'}} - 
          {{numberFormat system.points.subtrait decimals=0}}
        </button>
        
        <button class="talents">
          <i class="fa-solid fa-heart"></i>
          {{localize 'UTOPIA.Points.talent'}} - 
          {{numberFormat system.points.talent decimals=0}}
        </button>
        
      </div> 
      <div class="flexrow">
        
        <button disabled>
          <i class="fa-solid fa-shield"></i>
          {{localize 'UTOPIA.Points.body'}} - 
          {{numberFormat system.points.body decimals=0}}
        </button>
        
        <button disabled>
          <i class="fa-solid fa-brain"></i>
          {{localize 'UTOPIA.Points.mind'}} - 
          {{numberFormat system.points.mind decimals=0}}
        </button>
        
        <button disabled>
          <i class="fa-solid fa-flame"></i>
          {{localize 'UTOPIA.Points.soul'}} - 
          {{numberFormat system.points.soul decimals=0}}
        </button>
        
      </div> 
    </div>

    <hr/>
    
    <div class="flexcol">
      <h3>{{localize 'UTOPIA.Descriptions.defenses'}}</h3>
      <div class="flexrow grid-3col">
        
        <button disabled>
          <i class="fa-solid fa-snowflake"></i>
          {{localize 'UTOPIA.Defenses.chill'}} - 
          {{numberFormat system.defenses.chill decimals=0}}
        </button>
        
        <button disabled>
          <i class="fa-solid fa-bolt"></i>
          {{localize 'UTOPIA.Defenses.energy'}} - 
          {{numberFormat system.defenses.energy decimals=0}}
        </button>
        
        <button disabled>
          <i class="fa-solid fa-fire"></i>
          {{localize 'UTOPIA.Defenses.heat'}} - 
          {{numberFormat system.defenses.heat decimals=0}}
        </button>
      
      </div>
      <div class="flexrow grid-3col">

        <button disabled>
          <i class="fa-solid fa-sword"></i>
          {{localize 'UTOPIA.Defenses.physical'}} - 
          {{numberFormat system.defenses.physical decimals=0}}
        </button>
        
        <button disabled>
          <i class="fa-solid fa-brain"></i>
          {{localize 'UTOPIA.Defenses.psyche'}} - 
          {{numberFormat system.defenses.psyche decimals=0}}
        </button>

      </div> 
    </div>

    {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
    {{> "systems/utopia/templates/actor/parts/actor-features.hbs"}}
  </section>

  </section>