<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
  <div class="header-fields">
    <div class="resources grid grid-5col no-margin">

      <div class="resource flex-group-center grid-span-3">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      </div>

      <div class="resource flex-group-center grid-span-2">
        <h1 class="charname species-container">
          <input disabled class="species-input" name="species" placeholder="Species" type="text" value="{{system.species.name}}"/>
          {{#unless system.species.name}}
            <i class="fa-solid fa-magnifying-glass species"></i>
          {{/unless}}
        </h1>
      </div>

    </div>
    <div class="resources grid grid-6col">

      <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">SHP</label>
        <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.shp.value" value="{{system.shp.value}}" data-dtype="Number"/>
        <span> / </span>
        <input disabled type="text" name="system.shp.max" value="{{system.shp.max}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.dhp.value" class="resource-label">DHP</label>
        <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.dhp.value" value="{{system.dhp.value}}" data-dtype="Number"/>
        <span> / </span>
        <input disabled type="text" name="system.dhp.max" value="{{system.dhp.max}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.stamina.value" class="resource-label">Stamina</label>
        <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.stamina.value" value="{{system.stamina.value}}" data-dtype="Number"/>
        <span> / </span>
        <input disabled type="text" name="system.stamina.max" value="{{system.stamina.max}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.attributes.level.value" class="resource-label">Level</label>
        <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.block" class="resource-label">Block</label>
        <button class="rollable rollable-button" data-roll="{{system.block}}" name="system.block">{{system.block}}</button>
        <div class="resource-content flexrow flex-center flex-between">
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.dodge" class="resource-label">Dodge</label>
        <button class="rollable rollable-button" data-roll="{{system.dodge}}" name="system.dodge">{{system.dodge}}</button>
        <div class="resource-content flexrow flex-center flex-between">
        </div>
      </div>

    </div>
  </div>
</header>