<div class="grid grid-3col">
  {{#each actions as |action|}}
    <div>
      <div class="grid grid-6col">
        <button class="grid-span-5 action rollable" data-roll="{{action.system.formula}}" data-action="{{action._id}}">
          <div class="flexrow">
            {{action.name}}
            {{#if action.isReaction}}
              <span><i class="fa-solid fa-circle-pause"></i>&nbsp;{{action.system.cost}}</span>
            {{else}}
              <span><i class="fa-solid fa-circle-dot"></i>&nbsp;{{action.system.cost}}</span>
            {{/if}}
          </div>
        </button>
        <button class="delete-action" data-action="{{action._id}}">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
  {{/each}}
</div>