{{! Sheet Body }}
<section class='tab rules {{tab.cssClass}}' data-group="primary" data-tab="rules">
  <div class="existing-rules">
    {{#each system.rules as |rule name|}}
      <div class="rule">
        <div class="rule-header">
          <h4>{{name}}</h4>
          <button class="remove-rule" data-action="remove" data-id="{{rule.id}}">
            <i class="fas fa-trash"></i>
          </button>
        </div>
        <div class="rule-content">
          <p>{{rule.content}}</p>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="flexrow">
    <label for="rule-name">{{localize 'UTOPIA.Rules.RuleName'}}</label>
    <input type="text" name="rule-name" id="rule-name" />
  </div>
  <div class="editor-container">
    <div id="editor"></div>
  </div>
  <button class="add-rule" data-action="add">
    <i class="fas fa-plus"></i>
    {{localize 'UTOPIA.Rules.AddRule'}}
  </button>
</section>
