<div class="tab actions {{tab.cssClass}}" data-group="primary" data-tab="actions">
  
  <div class="tab-buttons">
    {{#if editable}} 
      <button type="button" class="tab-button"  data-action="openCompendium" data-category="action">{{localize "UTOPIA.Actor.Actions.browseActions"}}</button>
    {{/if}}
  </div>

  <div class="grid grid-3col">
    <div class="turn-actions grid-span-2">
      <h3>{{localize "UTOPIA.Actor.Actions.turnActions"}}</h3>
      <div class="action-list">
        {{#each turnActions as |action|}}
          <button type="button" class="action" data-roll-type="action" data-target="{{action.id}}" data-action="roll">
            <span class="action-name">{{action.name}}</span>
            <span class="action-formula"><i>{{action.system.formula}}</i></span>
            <span class="action-cost"><i class="fa-solid fa-circle-dot"></i>&nbsp;{{action.system.cost}}</span>
          </button>
        {{/each}}
      </div>  
    </div>

    <div class="interrupt-actions">
      <h3>{{localize "UTOPIA.Actor.Actions.otherActions"}}</h3>
      {{#each interruptActions as |action|}}
        <div class="action" >
          <span class="name">{{action.name}}</span>
          <span><i>{{action.system.formula}}</i></span>
          {{#if (eq action.system.type "interrupt")}}
            <span class="cost"><i class="fa-solid fa-circle-pause"></i>&nbsp;{{action.system.cost}}</span>
          {{else if (eq action.system.type "special")}}
            <span class="cost"><i class="fa-solid fa-circle-star"></i>&nbsp;{{action.system.cost}}</span>
          {{else if (eq action.system.type "macro")}}
            <span class="cost"><i class="fa-solid fa-microchip"></i>&nbsp;{{action.system.cost}}</span>
          {{/if}}
          <div class="controls" style="display: none">
            <a data-roll-type="action" data-target="{{action.id}}" data-action="roll">{{localize 'UTOPIA.CommonTerms.perform'}}</a>
            <a data-action="deleteAction" data-target="{{action.id}}">{{localize 'UTOPIA.CommonTerms.delete'}}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>