<div class="tab actions {{tab.cssClass}}" data-group="primary" data-tab="actions">
  
  <div class="tab-buttons">
    {{#if editable}} 
      <button class="tab-button" data-action="selectActions">{{localize "UTOPIA.Actor.Actions.browseActions"}}</button>
    {{/if}}
  </div>

  <div class="grid grid-3col">
    <div class="turn-actions grid-span-2">
      <h3>{{localize "UTOPIA.Actor.Actions.turnActions"}}</h3>
      <div class="action-list">
        {{#each turnActions as |action|}}
          <button class="action" data-roll-type="action" data-target="{{action.id}}" data-action="roll">
            <span class="action-name">{{action.name}}</span>
            <span class="action-formula"><i>{{action.system.formula}}</i></span>
            <span class="action-cost"><i class="fa-solid fa-circle-dot"></i>&nbsp;{{action.system.cost}}</span>
          </button>
        {{/each}}
      </div>  
    </div>

    <div class="interrupt-actions">
      
      <h3>{{localize "UTOPIA.Actor.Actions.interruptActions"}}</h3>
      {{#each interruptAction as |action|}}
        <button class="flexrow" data-roll-type="action" data-target="{{action.id}}" data-action="roll">
          <span>{{action.name}}</span>
          <span><i>{{action.system.formula}}</i></span>
          <span><i class="fa-solid fa-circle-pause"></i>&nbsp;{{action.system.cost}}</span>
        </button>
      {{/each}}
    </div>
  </div>
</div>