<section class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <fieldset class="item-set" data-item="{{item.id}}">
    {{#if isPlay}}
      <legend>{{localize "UTOPIA.Actors.Items.Talents"}} <i class="fas fa-splotch"></i></legend>
    {{else}}
      <legend data-action="createDocument" data-document-type="talent" title="{{localize "UTOPIA.Talents.New"}}">{{localize "DOCUMENT.Create" type="Talent"}} <i class="fas fa-plus"></i></legend>
    {{/if}}
    <a data-action="openApplication" data-application="talent-browser"><i class="fas fa-search"></i> {{localize "UTOPIA.Actors.Actions.OpenTalentTree"}}</a>
    <div class="item-container">
      {{#each talents as |item|}} 
        {{#if ../isPlay}}
          <div class="item">
            <a class="talent" data-action="viewDocument" data-document-id="{{item.id}}">
              <span class="item-name">{{item.name}}</span>
            </a>
          </div>
        {{else}}
          <div class="item-edit">
            <div class="item">
              <a class="talent" data-action="viewDocument" data-document-id="{{item.id}}">
                <span class="item-name">{{item.name}}</span>
              </a>
            </div>
            <div class="item-actions">
              <a class="item-delete" data-action="deleteDocument" data-document-id="{{item.id}}"><i class="fa-fw fas fa-trash"></i></a>
            </div>        
          </div>
        {{/if}}
      {{/each}}
    </div>
  </fieldset>

  <fieldset class="item-set" data-item="{{item.id}}">
    {{#if isPlay}}
      <legend>{{localize "UTOPIA.Actors.Items.Gear"}} <i class="fas fa-sword"></i></legend>
    {{else}}
      <legend data-action="createDocument" data-document-type="gear" title="{{localize "UTOPIA.Gear.New"}}">{{localize "DOCUMENT.Create" type="Gear"}} <i class="fas fa-plus"></i></legend>
    {{/if}}
    <a data-action="openApplication" data-application="artifice-builder"><i class="fas fa-hammer"></i> {{localize "UTOPIA.Actors.Actions.NewArtifice"}}</a>
    <div class="item-container">
      {{#each gear as |item|}} 
        {{#if ../isPlay}}
          <div class="item">
            <a class="gear" data-action="viewDocument" data-document-id="{{item.id}}">
              <span class="item-name">{{item.name}}</span>
            </a>
          </div>
        {{else}}
          <div class="item-edit">
            <div class="item">
              <a class="gear" data-action="viewDocument" data-document-id="{{item.id}}">
                <span class="item-name">{{item.name}}</span>
              </a>
            </div>
            <div class="item-actions">
              <a class="item-delete" data-action="deleteDocument" data-document-id="{{item.id}}"><i class="fa-fw fas fa-trash"></i></a>
            </div>        
          </div>
        {{/if}}
      {{/each}}
    </div>
  </fieldset>

  <fieldset class="item-set" data-item="{{item.id}}">
    {{#if isPlay}}
      <legend>{{localize "UTOPIA.Actors.Items.Actions"}} <i class="fas fa-bolt"></i></legend>
    {{else}}
      <legend data-action="createDocument" data-document-type="action" title="{{localize "UTOPIA.Actions.New"}}">{{localize "DOCUMENT.Create" type="Action"}} <i class="fas fa-plus"></i></legend>
    {{/if}}
    <div class="item-container">
      {{#each actions as |item|}} 
        <div class="item">
          <a data-action="roll" data-roll="item" data-item="{{item.id}}"><i class="fa-fw fas fa-dice"></i> {{localize "UTOPIA.Actors.Actions.Perform"}}</a>
          <a class="action" data-action="viewDocument" data-document-id="{{item.id}}">
            <span class="item-name">{{item.name}}</span>
          </a>
        </div>
      {{/each}}
    </div>
  </fieldset>

  <fieldset class="item-set" data-item="{{item.id}}">
    {{#if isPlay}}
      <legend>{{localize "UTOPIA.Actors.Items.Consumables"}} <i class="fas fa-flask"></i></legend>
    {{else}}
      <legend data-action="createDocument" data-document-type="gear" title="{{localize "UTOPIA.Consumables.New"}}">{{localize "DOCUMENT.Create" type="Gear"}} <i class="fas fa-plus"></i></legend>
    {{/if}}
    <div class="item-container">
      {{#each consumables as |item|}} 
        <div class="item">
          <a class="consumable" data-action="viewDocument" data-document-id="{{item.id}}">
            <span class="item-name">{{item.name}}</span>
          </a>
        </div>
      {{/each}}
    </div>
  </fieldset>

  <fieldset class="components-container">
    <legend>{{localize "UTOPIA.Actors.Items.Components"}} <i class="fas fa-cogs"></i></legend>
    <div class="components">
      {{#each components as |component|}}
        <div class="component" data-component="{{component.id}}">
          <span class="component-name">{{component.name}}</span>
          <span class="component-quantity">{{component.quantity}}</span>
        </div>
      {{/each}}
    </div>
  </fieldset>
</section>