<div class="tab details {{tab.cssClass}}" data-group="primary" data-tab="details">
  <section class="grid grid-3col">
    <div class="sidebar">

      <table class="ability-table">
        <tr>
          <th>(Sub)Trait</th>
          <th>Val</th>
          <th>Mod</th>
        </tr>
        {{#each system.traits as |trait key|}}
          <tr>
            <td class="td-left" data-action="roll" data-roll-type="trait" data-trait="{{key}}">
              <span class="resource-label">{{localize (concat 'UTOPIA.Actor.Traits.' key '.long')}}</span>
            </td>
            <td class="td-center">{{numberFormat trait.total decimals=0}}</td>
            <td class="td-center">{{numberFormat trait.mod decimals=0 sign=true}}</td>
          </tr>
          {{#each trait.subtraits as |subtrait sub|}}
            <tr {{#if subtrait.gifted}} class="gifted" {{/if}}>
              <td class="td-left" data-action="roll" data-roll-type="trait" data-trait="{{sub}}"> 
                {{#if subtrait.gifted}}
                  <span class="resource-label">&nbsp;<i class="fa-solid fa-gift"></i>&nbsp;&nbsp;-&nbsp;{{localize (concat 'UTOPIA.Actor.Subtraits.' sub '.long')}}</span>
                {{else}}
                  <span class="resource-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;{{localize (concat 'UTOPIA.Actor.Subtraits.' sub '.long')}}</span>
                {{/if}}
              </td>
              <td class="td-center">{{numberFormat subtrait.total decimals=0}}</td>
              <td class="td-center">{{numberFormat subtrait.mod decimals=0 sign=true}}</td>
            </tr>
          {{/each}}
        {{/each}}
          
          <tr>
            <td colspan="3" data-action="selectSubtraits" data-tooltip="{{localize 'UTOPIA.Actor.Points.subtrait'}}"
              {{#if (gt system.points.subtrait.total 0)}}style="background-color: rgb(165, 127, 24);"{{/if}}

            >
              <i class="fa-solid fa-list fa-fw" ></i>
              <span>{{numberFormat system.points.subtrait.total decimals=0}} - Subtrait Points</span>            
            </td>
          </tr>

          <tr>
            <td colspan="3" data-action="selectSubtraits" data-tooltip="{{localize 'UTOPIA.Actor.Points.gifted'}}" 
              {{#if (gt system.points.gifted.total 0)}}style="background-color: rgb(165, 127, 24);"{{/if}}
            >
              <i class="fa-solid fa-gift fa-fw"></i>
              <span>{{numberFormat system.points.gifted.value decimals=0}} - Subtraits to Gift</span>
            </td>
          </tr>

      </table>
    </div>

    {{!-- For the main features list, span the right two columns --}}
    <section class="main grid-span-2">
      <div class="flexcol">
        <div class="actor-data">

          <fieldset>
            <legend>{{localize 'UTOPIA.Descriptions.attributes'}}</legend>
            <div class="flexrow data-blocks">
              
              <div class="data-overlay">
                <i class="fa-solid fa-block-brick fa-fw" data-tooltip="{{localize 'UTOPIA.Actor.Attributes.constitution'}}"></i>
                <span class="data-number">
                  {{numberFormat system.attributes.constitution.total decimals=0}}
                </span>
              </div>

              <div class="data-overlay">
                <i class="fa-solid fa-rabbit-running fa-fw" data-tooltip="{{localize 'UTOPIA.Actor.Attributes.endurance'}}"></i>
                <span class="data-number">
                  {{numberFormat system.attributes.endurance.total decimals=0}}
                </span>
              </div>

              <div class="data-overlay">
                <i class="fa-solid fa-sparkles fa-fw" data-tooltip="{{localize 'UTOPIA.Actor.Attributes.effervescence'}}"></i>
                <span class="data-number">
                  {{numberFormat system.attributes.effervescence.total decimals=0}}
                </span>
              </div>
            
            </div>
          </fieldset>

          <fieldset>
            <legend>{{localize 'UTOPIA.Descriptions.defenses'}}</legend>
            <div class="flexrow data-blocks">
            
                <div class="data-overlay">
                  <i class="fa-solid fa-snowflake fa-fw" data-tooltip="{{localize 'UTOPIA.Actor.Defenses.chill'}}"></i>
                  <span class="data-number">
                    {{numberFormat system.defenses.chill.total decimals=0}}
                  </span>
                </div>

                <div class="data-overlay">
                  <i class="fa-solid fa-bolt fa-fw" data-tooltip="{{localize 'UTOPIA.Actor.Defenses.energy'}}"></i>
                  <span class="data-number">
                    {{numberFormat system.defenses.energy.total decimals=0}}
                  </span>
                </div>

                <div class="data-overlay">
                  <i class="fa-solid fa-fire fa-fw" data-tooltip="{{localize 'UTOPIA.Actor.Defenses.heat'}}"></i>
                  <span class="data-number">
                    {{numberFormat system.defenses.heat.total decimals=0}}
                  </span>
                </div>
              
                <div class="data-overlay">
                  <i class="fa-solid fa-hand-fist fa-fw" data-tooltip="{{localize 'UTOPIA.Actor.Defenses.physical'}}"></i>
                  <span class="data-number">
                    {{numberFormat system.defenses.physical.total decimals=0}}
                  </span>
                </div>
              
                <div class="data-overlay">
                  <i class="fa-solid fa-brain fa-fw" data-tooltip="{{localize 'UTOPIA.Actor.Defenses.psyche'}}"></i>
                  <span class="data-number">
                    {{numberFormat system.defenses.psyche.total decimals=0}}
                  </span>
                </div>

              </div> 
            </div>
          </fieldset>
        </div>


        <div class="actor-data">
          
        </div>

        <div class="actor-resources">
          <fieldset>
            <legend>
              <button type="button" data-action="addResource">
                <i class="fas fa-plus"></i>
                <span>{{localize "UTOPIA.Actor.Resources.add"}}</span>
              </button>
            </legend>
            
            <table>
              <tr>
                <th class="resources-name">Name</th>
                <th class="resources-description">Description</th>
                <th class="resources-value">Value</th>
                <th class="resources-source">Source</th>
                <th class="resources-controls"></th>
              </tr>

              {{#each system.resources as |resource|}}
                <tr>
                  <th>
                    {{formInput ../systemFields.resource.fields.name value=resource.name name=(concat "system.resources." @index ".name") localize=true}}
                  </th>
                  <td>
                    {{formInput ../systemFields.resource.fields.description value=resource.description name=(concat "system.resources." @index ".description") localize=true}}
                  </td>
                  <td>
                    {{formInput ../systemFields.resource.fields.amount value=resource.amount name=(concat "system.resources." @index ".amount") localize=true}}
                  </td>
                  <td>
                    {{#if resource.source}}
                      <i class="fas fa-arrow-down-to-line"></i>
                    {{else}}
                      <i class="fas fa-up-right-from-square"></i>
                    {{/if}}
                  </td>
                  <td>
                    <button type="button" data-action="deleteResource" data-index="{{@index}}">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              {{/each}}
            </table>
          </fieldset>
        </div>

        {{!-- <div class="actor-talents">
          <h4>{{localize 'UTOPIA.Descriptions.talents'}}</h4>
          <div class="grid grid-2col">
            {{#each talents as |talent key|}}
              {{log talent}}
              <button type="button" class="talent" data-action="openTalent" data-target="{{talent.id}}" 
                data-tooltip="{{localize 'UTOPIA.Actor.Points.mind'}}: {{numberFormat talent.system.points.mind decimals=0}} -
                              {{localize 'UTOPIA.Actor.Points.body'}}: {{numberFormat talent.system.points.body decimals=0}} -
                              {{localize 'UTOPIA.Actor.Points.soul'}}: {{numberFormat talent.system.points.soul decimals=0}}"
                data-tooltip-position="top">
                <div class="flexrow talent-content">
                  <div>
                    {{talent.name}}
                  </div>
                </div>
              </button>
            {{/each}}
          </div>
        </div> --}}

      </div>
    </section>
  </section>
</div>