<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-action="onEditImage" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
  <div class="header-fields">
    <div class="flexrow">
      <h1 class="char-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <h1 class="species-container">
        <input disabled class="species-input" name="species" placeholder="Species" type="text" value="{{system.species.name}}"/>
        {{#unless system.species.name}}
          <i data-action="selectSpecies" class="fa-solid fa-magnifying-glass species"></i>
        {{/unless}}
      </h1>
    </div>
    <div class="resources grid grid-6col">

      {{!-- <div class="resource flex-group-center">
        <label for="system.health.value" class="resource-label">SHP</label>
        <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.shp.value" data-action="update" value="{{system.shp.value}}" data-dtype="Number"/>
        <span> / </span>
        <input disabled type="text" name="system.shp.max" value="{{system.shp.max}}" data-dtype="Number"/>
        </div>
      </div> --}}

      <div class="resource">
        <div class="resource-value">
          <label for="system.shp.value" class="resource-label">SHP</label>
          <input type="text" name="system.shp.value" value="{{system.shp.value}}" data-dtype="Number"/>
        </div>
        <div class="resource-max">
          <label for="system.shp.max" class="resource-label">MAX</label>
          <input disabled type="text" name="system.shp.max" value="{{system.shp.max}}" data-dtype="Number"/>
        </div>  
      </div>

      <div class="resource">
        <div class="resource-value">
          <label for="system.dhp.value" class="resource-label">DHP</label>
          <input type="text" name="system.dhp.value" value="{{system.dhp.value}}" data-dtype="Number"/>
        </div>
        <div class="resource-max">
          <label for="system.dhp.max" class="resource-label">MAX</label>
          <input disabled type="text" name="system.dhp.max" value="{{system.dhp.max}}" data-dtype="Number"/>
        </div>  
      </div>

      <div class="resource">
        <div class="resource-value">
          <label for="system.stamina.value" class="resource-label">STA</label>
          <input type="text" name="system.stamina.value" value="{{system.stamina.value}}" data-dtype="Number"/>
        </div>
        <div class="resource-max">
          <label for="system.stamina.max" class="resource-label">MAX</label>
          <input disabled type="text" name="system.stamina.max" value="{{system.stamina.max}}" data-dtype="Number"/>
        </div>  
      </div>

            <div class="resource">
        <div class="resource-value">
          <label for="system.experience.value" class="resource-label">EXP</label>
          <input type="text" name="system.experience.value" value="{{system.experience.value}}" data-dtype="Number"/>
        </div>
        <div class="resource-max">
          <label for="system.experience.next" class="resource-label">NEXT</label>
          <input disabled type="text" name="system.experience.next" value="{{system.experience.next}}" data-dtype="Number"/>
        </div>  
      </div>

      <div class="resource">
        <div class="resource-value">
          <label for="system.actions.turn.value" class="resource-label">TA</label>
          <input type="text" name="system.actions.turn.value" value="{{system.actions.turn.value}}" data-dtype="Number"/>
        </div>
        <div class="resource-max">
          <label for="system.actions.turn.max" class="resource-label">MAX</label>
          <input disabled type="text" name="system.actions.turn.max" value="{{system.actions.turn.max}}" data-dtype="Number"/>
        </div>  
      </div>

      <div class="resource">
        <div class="resource-value">
          <label for="system.actions.interrupt.value" class="resource-label">IA</label>
          <input type="text" name="system.actions.interrupt.value" value="{{system.actions.interrupt.value}}" data-dtype="Number"/>
        </div>
        <div class="resource-max">
          <label for="system.actions.interrupt.max" class="resource-label">MAX</label>
          <input disabled type="text" name="system.actions.interrupt.max" value="{{system.actions.interrupt.max}}" data-dtype="Number"/>
        </div>  
      </div>

    </div>
  </div>
</header>