<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-action="onEditImage" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
  <div class="header-fields">
    <div class="char-header flexrow">
      <h1 class="char-name"><input name="name" type="text" class="item-name-input" value="{{actor.name}}" placeholder="Name"/></h1>
      <h1 class="species-container">
        <input disabled class="species-input" name="species" placeholder="Species" type="text" value="{{system.species.name}}"/>
        {{#unless system.species.name}}
          <i data-action="selectSpecies" class="fa-solid fa-magnifying-glass species"></i>
        {{/unless}}
      </h1>
      {{!-- <div class="edit-slider">
        <label for="overrideDerivedData">{{localize "UTOPIA.Actor.overrideDerivedData"}}</label>
        <label class="switch" for="overrideDerivedData">
          <input type="checkbox" id="overrideDerivedData" name="overrideDerivedData" {{#if (eq overrideDerivedData true)}} checked {{/if}} />
          <div class="slider round"></div>
        </label>
      </div> --}}
    </div>
    <div class="resources">

      <div class="new-resource">
        <div class="resource-context">
          <div class="add-buttons">
            <button type="button" data-action="addToStat" data-stat="system.shp.value" data-value="1">+1</button>
            <button type="button" data-action="addToStat" data-stat="system.shp.value" data-value="5">+5</button>
            <button type="button" data-action="addToStat" data-stat="system.shp.value" data-value="20">+20</button>
            <button type="button" data-action="maxStat" data-stat="system.shp.value" data-value="system.shp.max">Max</button>
          </div>
          <div class="subtract-buttons">
            <button type="button" data-action="subtractFromStat" data-stat="system.shp.value" data-value="1">-1</button>
            <button type="button" data-action="subtractFromStat" data-stat="system.shp.value" data-value="5">-5</button>
            <button type="button" data-action="subtractFromStat" data-stat="system.shp.value" data-value="20">-20</button>
            <button type="button" data-action="minStat" data-stat="system.shp.value" data-value="0">Min</button>
          </div>
        </div>
        <label class="new-resource-container" data-tooltip="{{localize 'UTOPIA.Actor.Stats.shpLong'}}">
          {{formInput systemFields.shp.fields.value value=system.shp.value name="system.shp.value" localize=true}}
          <span class="new-resource-max">{{system.shp.max}}</span>
          <span class="new-resource-label">{{localize 'UTOPIA.Actor.Stats.shpShort'}}</span>
        </label>
      </div>

      <div class="new-resource">
        <label class="new-resource-container" data-tooltip="{{localize 'UTOPIA.Actor.Stats.dhpLong'}}">
          {{formInput systemFields.dhp.fields.value value=system.dhp.value name="system.dhp.value" localize=true}}
          <span class="new-resource-max">{{system.dhp.max}}</span>
          <span class="new-resource-label">{{localize 'UTOPIA.Actor.Stats.dhpShort'}}</span>
        </label>
      </div>

      <div class="new-resource">
        <label class="new-resource-container" data-tooltip="{{localize 'UTOPIA.Actor.Stats.staLong'}}">
          {{formInput systemFields.stamina.fields.value value=system.stamina.value name="system.stamina.value" localize=true}}
          <span class="new-resource-max">{{system.stamina.max}}</span>
          <span class="new-resource-label">{{localize 'UTOPIA.Actor.Stats.staShort'}}</span>
        </label>
      </div>

      <div class="new-resource large">
        <label class="new-resource-container" data-tooltip="{{localize 'UTOPIA.Actor.Stats.expLong'}}">
          {{!-- [ --}}
          {{formInput systemFields.experience.fields.value value=system.experience.value name="system.experience.value" localize=true}}
          <span class="new-resource-max">{{system.experience.next}}</span>
          <span class="new-resource-label">{{localize 'UTOPIA.Actor.Stats.expShort'}}</span>
        </label>
      </div>

      <div class="new-resource">
        <label class="new-resource-container" data-tooltip="{{localize 'UTOPIA.Actor.Stats.taLong'}}">
          {{formInput systemFields.actions.fields.turn.fields.value value=system.actions.turn.value name="system.actions.turn.value" localize=true}}
          <span class="new-resource-max">{{system.actions.turn.max}}</span>
          <span class="new-resource-label">{{localize 'UTOPIA.Actor.Stats.taShort'}}</span>
        </label>
      </div>

      <div class="new-resource">
        <label class="new-resource-container" data-tooltip="{{localize 'UTOPIA.Actor.Stats.iaLong'}}">
          {{formInput systemFields.actions.fields.interrupt.fields.value value=system.actions.interrupt.value name="system.actions.interrupt.value" localize=true}}
          <span class="new-resource-max">{{system.actions.interrupt.max}}</span>
          <span class="new-resource-label">{{localize 'UTOPIA.Actor.Stats.iaShort'}}</span>
        </label>
      </div>  

    </div>
  </div>
</header>