<div class="actor-header">
  {{#if (eq actor.type "character")}}
    <input type="checkbox" class="mode-toggle" data-action="toggleMode" data-target="data.attributes" data-mode="edit">
  {{/if}}

  {{#if isPlay}}
    <span class="actor-name">{{actor.name}}</span>
  {{else}}
    <input class="actor-name" name='name' type='text' class="actor-name-input" value='{{actor.name}}' placeholder='Name' />
  {{/if}}
  <div class="icon-surround">
    <div class="attribute-container-row">
      <label class="attribute-label">SURFACE</label>
      <div class="attribute-set">
        <div class="attribute">
          <img class="box" src="systems/utopia/assets/attribute-box.png" width="60" height="60" />
          <input type="number" class="attribute" name="system.hitpoints.surface.value" value="{{system.hitpoints.surface.value}}" placeholder="SHP" />
        </div>
        <div class="attribute-max">
          <img class="box" src="systems/utopia/assets/attribute-max.png" width="60" height="60" />
          {{#if isPlay}}
            <span class="attribute">{{system.hitpoints.surface.max}}</span>
          {{else}}
            <input type="number" class="attribute" name="system.hitpoints.surface.max" value="{{systemSource.hitpoints.surface.max}}" placeholder="SHP" />
          {{/if}}
        </div>
      </div>
    </div>

    <div class="icon-surround-inner">
      <img class='actor-icon' src='{{actor.img}}' data-edit='img' data-action="image" data-image="icon" title='{{actor.name}}' height="60"/>
      <div class="attribute-container">
        <div class="attribute-set-row">
          <div class="attribute">
            <img class="box" src="systems/utopia/assets/attribute-box.png" width="60" height="60" />
            <input type="number" class="attribute" name="system.stamina.value" value="{{system.stamina.value}}" placeholder="SHP" />
          </div>
          <div class="attribute-max">
            <img class="box" src="systems/utopia/assets/attribute-max.png" width="60" height="60" />
            {{#if isPlay}}
              <span class="attribute">{{system.stamina.max}}</span>
            {{else}}
              <input type="number" class="attribute" name="system.stamina.max" value="{{systemSource.stamina.max}}" placeholder="SHP" />
            {{/if}}
          </div>
        </div>
        <label class="attribute-label">STAMINA</label>
      </div>
    </div>

    <div class="attribute-container-row">
      <div class="attribute-set">
        <div class="attribute">
          <img class="box" src="systems/utopia/assets/attribute-box.png" width="60" height="60" />
          <input type="number" class="attribute" name="system.hitpoints.deep.value" value="{{system.hitpoints.deep.value}}" placeholder="SHP" />
        </div>
        <div class="attribute-max">
          <img class="box" src="systems/utopia/assets/attribute-max.png" width="60" height="60" />
          {{#if isPlay}}
            <span class="attribute">{{system.hitpoints.deep.max}}</span>
          {{else}}
            <input type="number" class="attribute" name="system.hitpoints.deep.max" value="{{systemSource.hitpoints.deep.max}}" placeholder="SHP" />
          {{/if}}
        </div>
      </div>
      <label class="attribute-label">DEEP</label>
    </div> 
  </div>

  <div class="actions">
    {{#if system._speciesData}}
      <a class="action-button" data-action="viewDocument" data-document-id="{{system._speciesData.id}}" data-document-type="species"><i class="fa-fw fas fa-paw"></i> {{system._speciesData.name}}</a>
    {{else}}
      <a class="action-button" data-action="openApplication" data-application="browser" data-document-type="species"><i class="fa-fw fas fa-paw"></i> {{localize "UTOPIA.Actors.Actions.NoSpecies"}}</a>
    {{/if}}
  </div>

  <div class="actions">
    <a class="action-button" data-action="roll" data-roll="block"><i class="fa-fw fas fa-shield"></i> {{localize "UTOPIA.Actors.Actions.Block"}}</a>
    <a class="action-button" data-action="roll" data-roll="dodge"><i class="fa-fw fas fa-person-walking-dashed-line-arrow-right"></i> {{localize "UTOPIA.Actors.Actions.Dodge"}}</a>
    <a class="action-button" data-action="roll" data-roll="rest"><i class="fa-fw fas fa-bed-pulse"></i> {{localize "UTOPIA.Actors.Actions.Rest"}}</a>
  </div>

  <div class="checks">
    {{#each specialtyChecks as |check key|}}
      <a data-action="viewDocument" data-document-type="specialtyCheck" data-check="{{check.key}}" class="check-name" style="color: black;"><i class="fa-fw {{check.icon}}"></i> {{localize check.label}}</a>
      {{#if ../isPlay}}
        <a data-action="roll" data-roll="check" data-check="{{check.key}}" class="check-formula formula" style="color: black;">{{check.formula}}</a>
      {{else}}
        <select name="system.checks.{{check.key}}" class="check-attribute" style="color: black;">
          <optgroup label="{{localize "UTOPIA.TRAITS.GroupName"}}">
            {{#each ../checks.Traits as |trait traitKey|}}
            <option value="{{trait.short}}" {{#if (eq check.attribute trait.short)}}selected{{/if}}>{{localize trait.label}}</option>
            {{/each}}
          </optgroup>
          <optgroup label="{{localize "UTOPIA.SUBTRAITS.GroupName"}}">
            {{#each ../checks.Subtraits as |subtrait subtraitKey|}}
              <option value="{{subtrait.short}}" {{#if (eq check.attribute subtrait.short)}}selected{{/if}}>{{localize subtrait.label}}</option>
            {{/each}}
          </optgroup>
        </select>
      {{/if}}
    {{/each}}

    <select data-type="trait" class="check-attribute trait-select" style="color: black;">
      {{#each checks.Traits as |trait key|}}
        <option value="{{trait.short}}">
          {{localize trait.label}}&nbsp;&#8212;&nbsp; 
          <span>{{numberFormat trait.total}}</span>&nbsp;&#8212;&nbsp;
          <span>{{numberFormat trait.mod sign=true}}</span>
        </option>
      {{/each}}
    </select>
    {{#if isPlay}}
      <a data-action="roll" data-roll="check" class="check-formula formula trait-check" style="color: black;">{{check.formula}}</a>
    {{else}}
      <div class="trait-check-edit">
        <input class="formula trait-check" data-key="value" name="" type="number">
        <input class="formula trait-check" data-key="mod"   name="" type="number">
      </div>
    {{/if}}

    <select data-type="subtrait" class="check-attribute trait-select" style="color: black;">
      {{#each checks.Subtraits as |trait key|}}
        {{log trait}}
        <option value="{{trait.short}}">
          {{localize trait.label}}&nbsp;&#8212;&nbsp; 
          <span>{{numberFormat trait.total}}</span>&nbsp;&#8212;&nbsp;
          <span>{{numberFormat trait.mod sign=true}}</span>
        </option>
      {{/each}}
    </select>
    {{#if isPlay}}
      <a data-action="roll" data-roll="check" class="check-formula formula subtrait-check" style="color: black;">{{check.formula}}</a>
    {{else}}
      <div class="subtrait-check-edit">
        <input class="formula subtrait-check" data-key="value"    name="" type="number">
        <input class="formula subtrait-check" data-key="mod"      name="" type="number">
        <input class="formula subtrait-check" data-key="gifted"   name="" type="checkbox">
      </div>
    {{/if}}  
  </div>
</div>

  