<div class="tab spells {{tab.cssClass}}" data-group="primary" data-tab="spells">
  <div class="spells-header">
    <h3 class="spellcap">{{localize 'UTOPIA.CommonTerms.spellcap'}}: {{numberFormat system.spellcap.total decimals=0}}</h3>
    <button type="button" data-action="openSpellcraft">Open Spellcrafting</button>
  </div>
  {{!-- <div class="flexrow">
    <span>Available Artistries: </span>
    {{#each artistry}}
      <button type="button" class="artistry">
        {{this}}
      </button>
    {{/each}}
  </div> --}}

  <section class="spell-list">
    <div class="grid grid-3col">
      {{#each spells as |spell key|}}
        <div class="spell" data-id="{{spell.id}}" {{{spell.system.style}}}>
          <div class="name">{{spell.name}}</div>
          <span class="cost">{{spell.system.cost}}</span>
          <div class="controls" style="display: none">
            <a data-action="editSpell">{{localize 'UTOPIA.Item.Spells.edit'}}</a>
            <a data-action="roll" data-roll-type="spell" data-spell="{{spell.id}}">{{localize 'UTOPIA.Item.Spells.cast'}}</a>
            <a data-action="deleteSpell">{{localize 'UTOPIA.Item.Spells.delete'}}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</div>