<div class="tab spells {{tab.cssClass}}" data-group="primary" data-tab="spells">
  <h3 class="spellcap">{{localize 'UTOPIA.Descriptions.spellcap'}}: {{numberFormat system.spellcap decimals=0}}</h3>
  {{!-- <div class="flexrow">
    <span>Available Artistries: </span>
    {{#each artistry}}
      <button class="artistry">
        {{this}}
      </button>
    {{/each}}
  </div> --}}

  <section class="spell-list">
    <div class="grid grid-3col">
      {{#each spells as |spell key|}}
        <div class="spell" data-id="{{spell.id}}" {{{spell.style}}}>
          <div class="spell-name">{{spell.name}}</div>
          <span class="spell-cost">{{spell.system.cost}}</span>
          <div class="spell-controls" style="display: none">
            <a data-action="editSpell">{{localize 'UTOPIA.Spells.edit'}}</a>
            <a data-action="roll" data-roll-type="spell" data-spell="{{spell.id}}">{{localize 'UTOPIA.Spells.cast'}}</a>
            <a data-action="deleteSpell">{{localize 'UTOPIA.Spells.delete'}}</a>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</div>