<div class="tab talents {{tab.cssClass}}" data-group="primary" data-tab="talents">

  <div class="tab-buttons">
    {{#if editable}}
      <button type="button" class="tab-button" data-action="selectTalents">{{system.points.talent.total}} Talent Points - Select</button>
    {{/if}}

    <div class="actor-points">
      <div class="flexrow point-blocks">
        <div class="point-overlay">
          <i class="fa-solid fa-shield fa-fw" data-tooltip="{{localize 'UTOPIA.Actor.Points.body'}}"></i>
          <span class="point-number">
            {{numberFormat system.points.body.total decimals=0}}
          </span>
        </div>

        <div class="point-overlay">
          <i class="fa-solid fa-brain fa-fw" data-tooltip="{{localize 'UTOPIA.Actor.Points.mind'}}"></i>
          <span class="point-number">
            {{numberFormat system.points.mind.total decimals=0}}
          </span>
        </div>

        <div class="point-overlay">
          <i class="fa-solid fa-flame fa-fw" data-tooltip="{{localize 'UTOPIA.Actor.Points.soul'}}"></i>
          <span class="point-number">
            {{numberFormat system.points.soul.total decimals=0}}
          </span>
        </div>
      </div>
    </div>

    {{#if editable}}
      <button type="button" class="tab-button"  data-action="openCompendium" data-category="specialistTalent">{{system.points.specialist.total}} Specialist Points - Select</button>
    {{/if}}
  </div>



  <div class="grid grid-3col">
    
    <div class="actor-talents grid-span-2">
      <h3>{{localize 'UTOPIA.CommonTerms.talents'}}</h3>
      <div class="talent-list">
        {{#each talents as |talent key|}}
          <button type="button" class="talent" data-action="roll" data-roll-type="talent" data-talent="{{talent.id}}" 
            data-tooltip="{{talent.system.description}}"
            data-tooltip-position="top">
            <div class="flexrow talent-content">
              <div>
                {{talent.name}}
              </div>
            </div>
          </button>
        {{/each}}
      </div>
    </div>
    
    <div class="actor-specialist">
      <h3>{{localize 'UTOPIA.CommonTerms.specialistTalents'}}</h3>
      <div class="talent-list">
        {{#each specialist as |talent key|}}
          <button type="button" class="talent" data-action="roll" data-roll-type="talent" data-talent="{{talent.id}}" 
            data-tooltip="{{talent.system.description}}"
            data-tooltip-position="top">
            <div class="flexrow talent-content">
              <div>
                {{talent.name}}
              </div>
            </div>
          </button>
        {{/each}}
      </div>
    </div>

  </div>

</div>