<div class="trait">
  <a class="trait-container" data-action="roll" data-roll-type="trait" data-trait="{{trait.short}}" data-tooltip="{{trait.name}}">
    <span class="trait-icon" style="background-color: {{trait.color}}"><i class="{{trait.icon}} fa-fw"></i></span>
    <span class="trait-mod">{{numberFormat trait.mod sign=true}}</span>

    <div class="trait-data-container">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="50"/>
      </svg>
    </div>
  </a>
  
  <a class="subtrait-container-left" data-action="roll" data-roll-type="trait" data-trait="{{subtraitLeft.short}}" data-tooltip="{{subtraitLeft.name}}">
    <span class="subtrait-icon" style="background-color: {{subtraitLeft.color}}"><i class="{{subtraitLeft.icon}} fa-fw"></i></span>
    <span class="subtrait-mod">{{numberFormat subtraitLeft.mod sign=true}}</span>

    <div class="subtrait-data-container {{#if subtraitLeft.gifted}}subtrait-gifted{{/if}}">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="50"/>
      </svg>
    </div>
  </a>

  <a class="subtrait-container-right" data-action="roll" data-roll-type="trait" data-trait="{{subtraitRight.short}}" data-tooltip="{{subtraitRight.name}}">
    <span class="subtrait-icon" style="background-color: {{subtraitRight.color}}"><i class="{{subtraitRight.icon}} fa-fw"></i></span>
    <span class="subtrait-mod">{{numberFormat subtraitRight.mod sign=true}}</span>

    <div class="subtrait-data-container {{#if subtraitRight.gifted}}subtrait-gifted{{/if}}">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="50"/>
      </svg>
    </div>
  </a>

  {{#if (eq automated false)}}
    <input type="number" name="{{subtraitLeft.path}}" value="{{subtraitLeft.value}}" class="subtraitLeft-value" data-subtrait="{{subtraitLeft.short}}" data-tooltip="{{subtraitLeft.name}}"/>
    <input type="number" name="{{subtraitRight.path}}" value="{{subtraitRight.value}}" class="subtraitRight-value" data-subtrait="{{subtraitRight.short}}" data-tooltip="{{subtraitRight.name}}"/>
  {{/if}}
</div>
