<div class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <div class="standard-attributes">

    <fieldset class="attribute-set">
      <legend>{{localize "UTOPIA.Item.attributes"}}</legend>
      
      <div class="flexrow">
        <div class="form-group-stacked small talent-body">
          <label for="system.points.body">{{localize 'UTOPIA.Actor.Points.body'}}</label>
          {{formInput systemFields.points.fields.body value=system.points.body name='system.points.body'}}
        </div>

        <div class="form-group-stacked small talent-mind">
          <label for="system.points.mind">{{localize 'UTOPIA.Actor.Points.mind'}}</label>
          {{formInput systemFields.points.fields.mind value=system.points.mind name='system.points.mind'}}
        </div>

        <div class="form-group-stacked small talent-soul">
          <label for="system.points.soul">{{localize 'UTOPIA.Actor.Points.soul'}}</label>
          {{formInput systemFields.points.fields.soul value=system.points.soul name='system.points.soul'}}
        </div>
      </div>

      <div class="flexrow"> 
        <div class="form-group-stacked">
          <label for="system.tree">{{localize 'UTOPIA.Item.Talents.tree'}}</label>
          {{formInput systemFields.tree value=system.tree name='system.tree'}}
        </div>

        <div class="form-group-stacked xs">
          <label for="system.branch">{{localize 'UTOPIA.Item.Talents.branch'}}</label>
          {{formInput systemFields.branch value=system.branch name='system.branch'}}
        </div>

        <div class="form-group-stacked xs">
          <label for="system.tier">{{localize 'UTOPIA.Item.Talents.tier'}}</label>
          {{formInput systemFields.tier value=system.tier name='system.tier'}}
        </div>
        
        <div class="form-group-stacked">
          <label for="system.speciesTree">{{localize 'UTOPIA.Item.Talents.speciesTree'}}</label>
          {{formInput systemFields.speciesTree value=system.speciesTree name='system.speciesTree'}}
        </div>       
      </div>  

      <div class="flexrow">
        <div class="form-group-stacked">
          <label for="system.choices">{{localize 'UTOPIA.Item.Talents.choices'}}</label>
          {{formInput systemFields.choices value=system.choices name='system.choices'}}
        </div>  
      </div>

      <div class="flexrow">
        <div class="form-group-stacked">
          <label for="system.category">{{localize 'UTOPIA.Item.Talents.category'}}</label>
          {{formInput systemFields.category value=system.category name='system.category'}}
        </div>  
      </div>

      <div class="flexrow">
        <div class="form-group-stacked">
          <label for="system.grants">{{localize 'UTOPIA.Item.Talents.grants'}}</label>
          {{formInput systemFields.grants value=system.grants name='system.grants'}}
        </div>
      </div>
    </fieldset>
    
    <fieldset class="attribute-set">
      <legend>{{localize "UTOPIA.Item.Talents.speciesAttributes"}}</legend>

      <div class="flexrow">
        <div class="form-group-stacked">
          <label for="system.customSpecies.onlyCustom">{{localize 'UTOPIA.Item.Talents.CustomSpecies.onlyCustom'}}</label>
          {{formInput systemFields.customSpecies.fields.onlyCustom value=system.customSpecies.onlyCustom name='system.customSpecies.onlyCustom'}}
        </div>  
        <div class="form-group-stacked">
          <label for="system.customSpecies.species">{{localize 'UTOPIA.Item.Talents.CustomSpecies.species'}}</label>
          {{formInput systemFields.customSpecies.fields.species value=system.customSpecies.species name='system.customSpecies.species'}}
        </div>  
      </div>
      <div class="flexrow">
        <div class="form-group-stacked small">
          <label for="system.customSpecies.quirkPoints">{{localize 'UTOPIA.Item.Talents.CustomSpecies.quirkPoints'}}</label>
          {{formInput systemFields.customSpecies.fields.quirkPoints value=system.customSpecies.quirkPoints name='system.customSpecies.quirkPoints'}}
        </div>  
        <div class="form-group-stacked small">
          <label for="system.customSpecies.talentPoints">{{localize 'UTOPIA.Item.Talents.CustomSpecies.talentPoints'}}</label>
          {{formInput systemFields.customSpecies.fields.talentPoints value=system.customSpecies.talentPoints name='system.customSpecies.talentPoints'}}
        </div>  
      </div>
    </fieldset>
  </div>
</div>