<div class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <div>
    <!-- <aside class="common-attributes">
      <div class="form-group slim">
        <div class="form-fields">
          <label for="system.controlledByQuirks">{{localize "UTOPIA.Item.Species.controlledByQuirks"}}</label>
          {{formInput systemFields.controlledByQuirks name="system.controlledByQuirks" value=system.controlledByQuirks}}
        </div>
      </div>

      {{#if (eq system.controlledByQuirks false)}}
        <div class="form-group slim">
          <label>{{localize "UTOPIA.Item.Species.block"}}</label>
          <div class="form-fields">
            <label>{{localize "UTOPIA.Item.Species.quantity"}}</label>
            {{formInput systemFields.block.fields.quantity name="system.block.quantity" value=system.block.quantity}}
            <label>{{localize "UTOPIA.Item.Species.size"}}</label>
            {{formInput systemFields.block.fields.size name="system.block.size" value=system.block.size}}
          </div>
          <span class="notes"><i class="fas fa-dice"></i>&nbsp;{{concat system.block.quantity 'd' system.block.size}}</span>
        </div>

        <div class="form-group slim">
          <label>{{localize "UTOPIA.Item.Species.dodge"}}</label>
          <div class="form-fields">
            <label>{{localize "UTOPIA.Item.Species.quantity"}}</label>
            {{formInput systemFields.dodge.fields.quantity name="system.dodge.quantity" value=system.dodge.quantity}}
            <label>{{localize "UTOPIA.Item.Species.size"}}</label>
            {{formInput systemFields.dodge.fields.size name="system.dodge.size" value=system.dodge.size}}
          </div>
          <span class="notes"><i class="fas fa-dice"></i>&nbsp;{{concat system.dodge.quantity 'd' system.dodge.size}}</span>
        </div>
      {{/if}}

    </aside> -->

    <div class="standard-attributes" style="height: 415px">
      <fieldset class="attribute-set">
        <legend>{{localize "UTOPIA.Item.Species.quirks"}}</legend>
        <div class="form-fields">
          <label for="system.controlledByQuirks">{{localize "UTOPIA.Item.Species.controlledByQuirks"}}</label>
          {{formInput systemFields.controlledByQuirks name="system.controlledByQuirks" value=system.controlledByQuirks}}
        </div>
      </fieldset>
      
      {{#if (eq system.controlledByQuirks false)}}
        <fieldset class="attribute-set">
          <legend>{{localize "UTOPIA.Item.Species.stats"}}</legend>
          <div class="form-group-stacked">
            <label for="system.stats.constitution.value">{{localize "UTOPIA.Item.Species.constitution"}}</label>
            {{formInput systemFields.stats.fields.constitution.fields.value name="system.stats.constitution.value" value=system.stats.constitution.value}}
          </div>
          <div class="form-group-stacked">
            <label for="system.stats.endurance.value">{{localize "UTOPIA.Item.Species.endurance"}}</label>
            {{formInput systemFields.stats.fields.endurance.fields.value name="system.stats.endurance.value" value=system.stats.endurance.value}}
          </div>
          <div class="form-group-stacked">
            <label for="system.stats.effervescence.value">{{localize "UTOPIA.Item.Species.effervescence"}}</label>
            {{formInput systemFields.stats.fields.effervescence.fields.value name="system.stats.effervescence.value" value=system.stats.effervescence.value}}
          </div>
          <div class="form-group-stacked">
            <label for="system.block.quantity">{{localize "UTOPIA.Item.Species.block"}}</label>
            {{formInput systemFields.block.fields.quantity name="system.block.quantity" value=system.block.quantity}}
          </div>
          <div class="form-group-stacked">
            <label for="system.dodge.quantity">{{localize "UTOPIA.Item.Species.dodge"}}</label>
            {{formInput systemFields.dodge.fields.quantity name="system.dodge.quantity" value=system.dodge.quantity}}
          </div>
        </fieldset>

        <fieldset class="attribute-set">
          <datalist id="speeds">
            {{#each speeds as |speed|}}
              <option value="{{speed}}">{{speed}}</option>
            {{/each}}
          </datalist>

          <legend>{{localize "UTOPIA.Item.Species.travel"}}</legend>
          <div class="form-group-dual">
            <label for="system.travel.land.value">{{localize "UTOPIA.Item.Species.land"}}</label>
            <div class="form-fields sm-right">
              <input type="text" list="speeds" name="system.travel.land.value" value="{{system.travel.land.value}}">
              <input type="number" name="system.travel.land.stamina" value="{{system.travel.land.stamina}}">
            </div>
          </div>
          <div class="form-group-dual">
            <label for="system.travel.air.value">{{localize "UTOPIA.Item.Species.air"}}</label>
            <div class="form-fields sm-right">
              <input type="text" list="speeds" name="system.travel.air.value" value="{{system.travel.air.value}}">
              <input type="number" name="system.travel.air.stamina" value="{{system.travel.air.stamina}}">
            </div>
          </div>
          <div class="form-group-dual">
            <label for="system.travel.water.value">{{localize "UTOPIA.Item.Species.water"}}</label>
            <div class="form-fields sm-right">
              <input type="text" list="speeds" name="system.travel.water.value" value="{{system.travel.water.value}}">
              <input type="number" name="system.travel.water.stamina" value="{{system.travel.water.stamina}}">
            </div> 
          </div>
        </fieldset>

        <fieldset class="attribute-set">
          <legend>{{localize "UTOPIA.Item.Species.Subtraits.legend"}}</legend>

          <datalist id="subtraits">
            {{#each subtraits as |subtrait|}}
              <option value="{{subtrait.short}}">{{subtrait.name}}</option>
            {{/each}}
          </datalist>

          <div class="form-group-stacked">
            <label for="system.dodge.quantity">{{localize "UTOPIA.Item.Species.Subtraits.specific"}} ({{localize "UTOPIA.Descriptions.remaining"}}: {{system.gifts.subtraitsLeft}})</label>
            {{formInput systemFields.gifts.fields.subtraits name="system.gifts.subtraits" value=system.gifts.subtraits}}
            <span class="hint">{{localize "UTOPIA.Item.Species.Subtraits.hint"}}</span>
          </div>
          <div class="form-group-stacked">
            <label for="system.gifts.points">{{localize "UTOPIA.Item.Species.Subtraits.points"}}</label>
            <button type="button" data-action="tradeSubtraits"><i class="fas fa-arrows-cross"></i>&nbsp;{{localize "UTOPIA.Item.Species.Subtraits.trade"}}</button>
            {{formInput systemFields.gifts.fields.points name="system.gifts.points" value=system.gifts.points disabled=true}}
          </div>
        </fieldset>
      {{/if}}
    </div>
  </div>
</div>