<div class="paper-doll-entry {{#if (eq dir "left")}}left{{/if}}">
  <span>{{localize (concat "UTOPIA.Item.Species.PaperDoll." key)}}</span>

  {{#if evolution}}
    <div class="evolution">
      <i class="fas fa-hashtag fa-fw"></i>
      <input type="number" name="system.evolution.{{key}}" value="{{slot.evolution}}">
    </div>
  {{/if}}

  <a type="button" class="paper-doll-button {{#if slot.unaugmentable}}active{{/if}}" data-action="togglePaperdoll" data-type="augmentable" data-slot="{{key}}" data-tooltip="{{localize "UTOPIA.Item.Species.PaperDoll.toggleAugmentable"}}">
    <i class="fas fa-pencil-slash fa-fw"></i>
  </a>

  <a type="button" class="paper-doll-button {{#if slot.unequippable}}active{{/if}}" data-action="togglePaperdoll" data-type="equippable" data-slot="{{key}}" data-tooltip="{{localize "UTOPIA.Item.Species.PaperDoll.toggleEquippable"}}">
    <i class="fas fa-lock fa-fw"></i>
  </a>

  <a type="button" class="paper-doll-button {{#if slot.specialty}}active{{/if}}" data-action="togglePaperdoll" data-type="specialty" data-slot="{{key}}" data-tooltip="{{localize "UTOPIA.Item.Species.PaperDoll.toggleSpecialty"}}">
    <i class="fas fa-wand-magic-sparkles fa-fw"></i>
  </a>
</div>