<div class="utopia">
  <div class="chat-card item-card" data-actor-id="{{actor.id}}" data-action-id="{{action.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
      <img src="{{action.img}}" alt="{{action.name}}" />
      <h3>{{action.name}}</h3>
    </header>

    <div class="tags" data-tooltip-class="utopia">

    </div>

    <div class="card-content">
      <div class="dice-roll" data-tooltip-class="utopia">
        {{#if flavor~}}
          <div class="dice-flavor">
            {{flavor}}
          </div>
        {{~/if}}  
        {{#if formula}}
          <div class="dice-result">
            <div class="dice-formula">{{formula}}</div>
            {{{tooltip}}}
            <h4 class="dice-total">{{total}}</h4>
          </div>
        {{/if}}
      </div>
      {{#if action.system.description}}
        <div class="action-description">
          <p>{{system.description}}</p>
        </div>
      {{/if}}
    </div>
  </div>
</div>