<div class="utopia">
  <div class="chat-card trait-check-card">
    <hr/>

    <div class="tags" data-tooltip-class="utopia">
      <span class="tag">{{trait}}</span>
      {{#if gifted}}
        <span class="tag">Gifted <i class="fas fa-gift"></i></span>
      {{/if}}
    </div>

    <div class="card-content">
      <span class="dice-flavor">{{flavor}}</span>
      <div class="dice-roll" data-tooltip-class="utopia">
        <span class="trait-icon"><i class="{{icon}}"></i></span>
        <span class="dice-formula">{{formula}}</span>
        <span class="dice-total {{#if success}}dice-success{{/if}}">{{total}}{{#if toBeat}} vs. {{toBeat}}{{/if}}</span>
      </div>
      <details class="dice-details" data-tooltip-class="utopia">
        {{{tooltip}}}
      </details>
    </div>
  </div>
</div>