<div class="utopia">
  <div class="chat-card item-card item-rarity-{{rarity}}" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow" data-action="openItem">
      <img src="{{item.img}}" alt="{{item.name}}" />
      <h3>{{item.name}}</h3>
    </header>

    <div class="tags" data-tooltip-class="utopia">

    </div>

    <div class="card-content">
      <div class="dice-roll" data-tooltip-class="utopia">
        {{#if flavor~}}
          <div class="dice-flavor">
            {{flavor}}
          </div>
        {{~/if}}  
        {{#if formula}}
          {{#if finalized}}
            <div class="dice-result">
              <div class="dice-formula">{{formula}}</div>
              {{{tooltip}}}
              <h4 class="dice-total">{{total}}</h4>
            </div>
          {{else}}
            <div class="dice-result">
              <h4 class="dice-total">~{{numberFormat estimate decimals=0}}</h4>
            </div>
          {{/if}}
          <div class="dice-result gm-only" data-visibility="gm">
            <div class="dice-formula">{{formula}}</div>
            {{{tooltip}}}
            <h4 class="dice-total">{{total}}</h4>
          </div>
        {{/if}}
      </div>

      {{#if blocked}}
        <div class="block-message">
          <i class="fa-duotone fa-regular fa-shield-halved"></i>
          <span>{{localize "UTOPIA.CommonTerms.blocked"}}: {{blockedDamage}}</span>
        </div>
        <div class="block-message">
          <i class="fa-duotone fa-bullseye-pointer fa-flip-horizontal fa-fw"></i>
          <span>{{localize "UTOPIA.CommonTerms.newTotal"}}: {{newTotal}}</span>
        </div>
      {{/if}}

      {{#if dodged}}
        <div class="dodge-message">
          <i class="fa-duotone fa-solid fa-person-falling-burst"></i>
          <span>{{localize "UTOPIA.CommonTerms.dodged"}}: {{dodgedRoll}} = {{dodgedSuccess}}</span>
        </div>
        <div class="dodge-message">
          <i class="fa-duotone fa-bullseye-pointer fa-flip-horizontal fa-fw"></i>
          <span>{{localize "UTOPIA.CommonTerms.newTotal"}}: {{newTotal}}</span>
        </div>
      {{/if}}

      <div class="response-buttons" data-whose="opposer">
        {{#if (and (gt total 0) (not noResponse))}}
          <button type="button" class="response-button" data-action="responseAction" data-response="block">
            <i class="fas fa-shield"></i>&nbsp;&nbsp;{{localize "UTOPIA.Actor.block"}}
          </button>
          <button type="button" class="response-button" data-action="responseAction" data-response="dodge">
            <i class="fas fa-person-falling-burst"></i>&nbsp;&nbsp;{{localize "UTOPIA.Actor.dodge"}}
          </button>
        {{/if}}
      </div>

      <div class="gm-response-buttons" data-visibility="gm">
        <button type="button" class="response-button" data-action="quickDamage" data-damage="{{total}}" data-type="original">Quick Damage Original Target</button>
        <button type="button" class="response-button" data-action="quickDamage" data-damage="{{total}}" data-type="mine">Quick Damage My Target(s)</button>
        <button type="button" class="response-button" data-action="damageDialog" disabled>Damage Dialog</button>
        {{#if hasTemplate}}
          <button type="button" class="response-button" data-action="deleteTemplate">Delete Used Template(s)</button>
        {{/if}}
      </div>
    </div>


    <footer data-visibility="gm">
      <div class="targets">
        {{#each targets as |target|}}
          {{#if target.img}}
            <img src="{{target.img}}" alt="{{target.name}}" data-tooltip="{{target.name}}" />
          {{else}}
            <img src="{{target.actor.img}}" alt="{{target.actor.name}}" data-tooltip="{{target.actor.name}}" />
          {{/if}}
        {{/each}}
      </div>
    </footer>
  </div>
</div>