<div class="damage-instance">
  <div class="damage-shp">
    <span class="damage-label">{{localize "UTOPIA.Chats.DamageInstance.SHP"}}</span>
    <span class="damage-value">{{shpDamageDealt}}</span>
  </div>
  <div class="damage-dhp">
    <span class="damage-label">{{localize "UTOPIA.Chats.DamageInstance.DHP"}}</span>
    <span class="damage-value">{{dhpDamageDealt}}</span>
  </div>
  <div class="damage-stamina">
    <span class="damage-label">{{localize "UTOPIA.Chats.DamageInstance.STAMINA"}}</span>
    <span class="damage-value">{{staminaDamageDealt}}</span>
  </div>
  <div class="damage-total">
    <span class="damage-label">{{localize "UTOPIA.Chats.DamageInstance.TOTAL"}}</span>
    <span class="damage-value">{{totalDamageDealt}}</span>
  </div>
  <div class="damage-type">
    {{log type}}
    <span class="damage-label"><i class="fa-fw {{type.icon}}"></i></span>
    <span class="damage-value">{{localize type.label}}</span>
  </div>
</div>