<div class="chat-card">
  
  <div class="card-header">
    <img class="card-header-icon" src="systems/utopia/assets/damage.svg" title="Damage" width="30" height="30" />
    <h3>Damage</h3>
  </div>

  <div class="card-content">
    {{{item.system.description}}}
  </div>

  {{#each instances as |instance|}}
    {{> "damage-instance" instance}}
  {{/each}}

  {{#if template}}
    <button data-action="template" data-template="{{template}}"><i class='fa-solid fa-bullseye'></i></button>
  {{/if}}

  <footer data-visibility="gm">
    <div class="targets">
      {{#each targets as |target|}}
        <img src="{{target.img}}" alt="{{target.name}}" data-tooltip="{{target.name}}" />
      {{/each}}
    </div>
  </footer>
</div>