<div class="utopia">
  <div class="chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
      <img src="{{actor.img}}" alt="{{actor.name}}" />
      <h3>{{actor.name}}</h3>
    </header>

    <div class="tags" data-tooltip-class="utopia">

    </div>

    <div class="card-content">
      {{#if actions}}
        <h4>{{localize trigger}} - Trigger Response</h4>
      {{/if}}
      {{#each actions as |action|}}
        <button type="button" class="action-button" data-action="action" data-action-id="{{action._id}}" data-actor="{{actor._id}}">
          {{action.name}}
          {{#if (eq action.system.type "Interrupt")}}
            <span><i class="fa-solid fa-circle-pause"></i>&nbsp;{{action.system.cost}}</span>
          {{else}}
            <span><i class="fa-solid fa-circle-dot"></i>&nbsp;{{action.system.cost}}</span>
          {{/if}}
        </button>
      {{/each}}

      <div class="dice-roll" data-tooltip-class="utopia">
        <div class="dice-result">
          <div class="dice-formula">{{formula}}</div>
          {{{tooltip}}}
          <h4 class="dice-total">{{total}}</h4>
        </div>
      </div>
      
      {{#if (eq isGM true)}}
        <div class="card-buttons" data-visibility="gm">
          <button type="button" class="action-button" data-action="edit" data-actor="{{actor._id}}" data-item="{{item._id}}">
            <i class="fas fa-edit"></i> Edit
          </button>
          <button type="button" class="action-button" data-action="delete" data-actor="{{actor._id}}" data-item="{{item._id}}">
            <i class="fas fa-trash"></i> Delete
          </button>
        </div>
      {{/if}}
    </div>
  </div>
</div>