<div class="twitch-chat">
  {{#if (gt cheer 0)}}
    <div class="twitch-cheer-message-glow"></div>
  {{/if}}

  <div class="chat-card {{#if (gt cheer 0)}}twitch-cheer-message{{else}}twitch-message{{/if}}" data-actor-id="{{actor.id}}">
    <header class="card-header flexrow">
      {{#if showBadges}}
        {{#each chatBadges as |chatBadge|}}
          <img 
            class="chat-badge"
            src="{{chatBadge.image_url_2x}}" 
            alt="{{chatBadge.title}}" 
            data-tooltip="{{chatBadge.description}}" 
          />
        {{/each}}
      {{/if}}
      <span class="viewer-name">
        {{#if viewerNames}}
          {{chatter}}
        {{else}}
          {{channelName}}'s {{chatName}}
        {{/if}}
      </span>
    </header>

    {{#if (gt cheer 0)}}
      <div class="tags" data-tooltip-class="utopia">
        <span class="tag tag-cheer">{{cheer}} Bits</span>
      </div>
    {{/if}}

    <div class="card-content">
      {{{message}}}
    </div>

    {{!-- <footer data-visibility="gm">
      <div class="message-buttons">
        <button type="button" type="button" class="remove-chat" data-action="remove" data-id="{{id}}">
          <span>GM, override and remove this message?</span>
        </button>
      </div>
    </footer> --}}
  </div>

</div>