<div class="spell-variable-dialog">
  <form>
    <p>Input formula: <code name="input-formula">{{stamina}}</code></p>
    <p>Which calculates to: <code name="calculated"></code>, <span name="cost"></span></p>
    <div class="flexcol">
      <label for="variable-input">{{localize 'UTOPIA.Spells.Variables.name'}} {{variable}}</label>
      <input type="number" name="variable-input" autofocus/>
    </div>
    <p>This will result in: <code name="output-formula">{{formula}}</code></p>
    <button data-action="submit">{{localize 'UTOPIA.Spells.Variables.cast'}}&nbsp;<strong>{{name}}</strong></button>
  </form>
</div>
