<label class="attribute-input-group">
  <a class="share-attribute" data-action="shareAttribute" data-tooltip="{{localize "UTOPIA.FeatureBuilder.Labels.shareAttribute"}}" data-type="{{classification}}" data-attribute="maxStacks"><i class="fas fa-fw fa-share-all"></i></a>
  <span>{{localize "UTOPIA.FeatureBuilder.Labels.maxStacks"}}</span>
  <span data-editable contenteditable="true" data-type="{{classification}}" data-attribute="maxStacks" class="attribute-input">{{maxStacks}}</span>
</label>

<label class="attribute-input-group">
  <a class="share-attribute" data-action="shareAttribute" data-tooltip="{{localize "UTOPIA.FeatureBuilder.Labels.shareAttribute"}}" data-type="{{classification}}" data-attribute="costFormula"><i class="fas fa-fw fa-share-all"></i></a>
  <span>{{localize "UTOPIA.FeatureBuilder.Labels.costFormula"}}</span>
  <span data-editable contenteditable="true" data-type="{{classification}}" data-attribute="costFormula" class="attribute-input">{{costFormula}}</span>
</label>

<label class="attribute-input-group">
  <a class="share-attribute" data-action="shareAttribute" data-tooltip="{{localize "UTOPIA.FeatureBuilder.Labels.shareAttribute"}}" data-type="{{classification}}" data-attribute="material"><i class="fas fa-fw fa-share-all"></i></a>
  <span>{{localize "UTOPIA.FeatureBuilder.Labels.material"}}</span>
  <span data-editable contenteditable="true" data-type="{{classification}}" data-attribute="material" class="attribute-input">{{material}}</span>
</label>

<label class="attribute-input-group">
  <a class="share-attribute" data-action="shareAttribute" data-tooltip="{{localize "UTOPIA.FeatureBuilder.Labels.shareAttribute"}}" data-type="{{classification}}" data-attribute="refinement"><i class="fas fa-fw fa-share-all"></i></a>
  <span>{{localize "UTOPIA.FeatureBuilder.Labels.refinement"}}</span>
  <span data-editable contenteditable="true" data-type="{{classification}}" data-attribute="refinement" class="attribute-input">{{refinement}}</span>
</label>

<label class="attribute-input-group">
  <a class="share-attribute" data-action="shareAttribute" data-tooltip="{{localize "UTOPIA.FeatureBuilder.Labels.shareAttribute"}}" data-type="{{classification}}" data-attribute="power"><i class="fas fa-fw fa-share-all"></i></a>
  <span>{{localize "UTOPIA.FeatureBuilder.Labels.power"}}</span>
  <span data-editable contenteditable="true" data-type="{{classification}}" data-attribute="power" class="attribute-input">{{power}}</span>
</label>