<div class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <div class="flexrow">
    
    <div class="flexcol">
      <label for="system.depiction">{{localize 'UTOPIA.Item.Archetype.depiction'}}</label>
      {{formInput systemFields.depiction value=system.depiction name="system.depiction" localize=true}}
    </div>

    <div class="flexcol">
      <label for="system.proverb">{{localize 'UTOPIA.Item.Archetype.proverb'}}</label>
      {{formInput systemFields.proverb value=system.proverb name="system.proverb" localize=true}}
    </div>

    <div class="flexcol">
      <label for="system.color">{{localize 'UTOPIA.Item.Archetype.color'}}</label>
      {{formInput systemFields.color value=system.color name="system.color" localize=true}}
    </div>

  </div>

  <div class="flexrow">

    <div class="flexcol">
      <label for="system.exo.aristocrat">{{localize 'UTOPIA.Item.Archetype.Exo.aristocrat'}}</label>
      {{formInput systemFields.exo.fields.aristocrat value=system.exo.aristocrat name="system.exo.aristocrat" localize=true}}
    </div>

    <div class="flexcol">
      <label for="system.exo.practitioner">{{localize 'UTOPIA.Item.Archetype.Exo.practitioner'}}</label>
      {{formInput systemFields.exo.fields.practitioner value=system.exo.practitioner name="system.exo.practitioner" localize=true}}
    </div>

    <div class="flexcol">
      <label for="system.exo.construct">{{localize 'UTOPIA.Item.Archetype.Exo.construct'}}</label>
      {{formInput systemFields.exo.fields.construct value=system.exo.construct name="system.exo.construct" localize=true}}
    </div>

  </div>

  <div class="flexrow">

    <div class="flexcol">
      <label for="system.endo.tempest">{{localize 'UTOPIA.Item.Archetype.Endo.tempest'}}</label>
      {{formInput systemFields.endo.fields.tempest value=system.endo.tempest name="system.endo.tempest" localize=true}}
    </div>

    <div class="flexcol">
      <label for="system.endo.trickster">{{localize 'UTOPIA.Item.Archetype.Endo.trickster'}}</label>
      {{formInput systemFields.endo.fields.trickster value=system.endo.trickster name="system.endo.trickster" localize=true}}
    </div>

    <div class="flexcol">
      <label for="system.endo.scholar">{{localize 'UTOPIA.Item.Archetype.Endo.scholar'}}</label>
      {{formInput systemFields.endo.fields.scholar value=system.endo.scholar name="system.endo.scholar" localize=true}}
    </div>

  </div>

  <div class="flexrow">

    <div class="flexcol">
      <label for="system.immaturity">{{localize 'UTOPIA.Item.Archetype.immaturity'}}</label>
      {{formInput systemFields.immaturity value=system.immaturity name="system.immaturity" localize=true}}
    </div>

    <div class="flexcol">
      <label for="system.maturity">{{localize 'UTOPIA.Item.Archetype.maturity'}}</label>
      {{formInput systemFields.maturity value=system.maturity name="system.maturity" localize=true}}
    </div>

  </div>

  <div class="flexrow">
  
    <div class="flexcol">
      <label for="system.description">{{localize 'UTOPIA.CommonTerms.description'}}</label>
      <div class="description">
        {{#if editable}}
          <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
            {{{enrichedDescription}}}
          </prose-mirror>
        {{else}} 
          {{{enrichedDescription}}}
        {{/if}}
      </div>  
    </div>

  </div>
</div>