<div class="tab actions {{tab.cssClass}}" data-group="primary" data-tab="actions">
  <div class="gear-attributes">
    <button type="button" class="grid-span-2" data-action="addResource">
      <i class="fas fa-plus"></i>
      {{localize "UTOPIA.Item.Gear.addResource"}}
    </button>

    {{#each system.resources as |resource|}}
      <details class="resource">
        <summary><i class="fas fa-box"></i> {{resource.name}}</summary>
        
        <fieldset class="resource-attributes">
          <legend><i class="fas fa-box-open"></i> {{localize "UTOPIA.Item.Gear.Resource.attributes"}}</legend>

          <div class="flexcol">
            <label for="resource.{{@index}}.name">{{localize "UTOPIA.Item.Gear.Resource.name"}}</label>
            {{formInput ../systemFields.resource.fields.name value=resource.name name=(concat "system.resources." @index ".name") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.amount">{{localize "UTOPIA.Item.Gear.Resource.amount"}}</label>
            {{formInput ../systemFields.resource.fields.amount value=resource.amount name=(concat "system.resources." @index ".amount") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.consumed">{{localize "UTOPIA.Item.Gear.Resource.consumed"}}</label>
            {{formInput ../systemFields.resource.fields.consumed value=resource.consumed name=(concat "system.resources." @index ".consumed") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.max">{{localize "UTOPIA.Item.Gear.Resource.max"}}</label>
            {{formInput ../systemFields.resource.fields.max value=resource.max name=(concat "system.resources." @index ".max") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.recoverAmount">{{localize "UTOPIA.Item.Gear.Resource.recoverAmount"}}</label>
            {{formInput ../systemFields.resource.fields.recoverAmount value=resource.recoverAmount name=(concat "system.resources." @index ".recoverAmount") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.recoverInterval">{{localize "UTOPIA.Item.Gear.Resource.recoverInterval"}}</label>
            {{formInput ../systemFields.resource.fields.recoverInterval value=resource.recoverInterval name=(concat "system.resources." @index ".recoverInterval") localize=true}}
          </div>

        </fieldset>

        <button type="button" class="grid-span-2" data-action="deleteResource" data-index="{{@index}}"><i class="fas fa-trash"></i> {{localize "UTOPIA.Item.Gear.deleteResource"}}</button>
      </details>
    {{/each}}

    <button type="button" class="grid-span-2" data-action="addAction">
      <i class="fas fa-plus"></i>
      {{localize "UTOPIA.Item.Gear.addAction"}}
    </button>

    {{#each system.resources as |resource|}}
      <details class="resource">
        <summary><i class="fas fa-box"></i> {{resource.name}}</summary>
        
        <fieldset class="resource-attributes">
          <legend><i class="fas fa-box-open"></i> {{localize "UTOPIA.Item.Gear.Resource.attributes"}}</legend>

          <div class="flexcol">
            <label for="resource.{{@index}}.name">{{localize "UTOPIA.Item.Gear.Resource.name"}}</label>
            {{formInput ../systemFields.resource.fields.name value=resource.name name=(concat "system.resources." @index ".name") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.amount">{{localize "UTOPIA.Item.Gear.Resource.amount"}}</label>
            {{formInput ../systemFields.resource.fields.amount value=resource.amount name=(concat "system.resources." @index ".amount") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.consumed">{{localize "UTOPIA.Item.Gear.Resource.consumed"}}</label>
            {{formInput ../systemFields.resource.fields.consumed value=resource.consumed name=(concat "system.resources." @index ".consumed") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.max">{{localize "UTOPIA.Item.Gear.Resource.max"}}</label>
            {{formInput ../systemFields.resource.fields.max value=resource.max name=(concat "system.resources." @index ".max") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.recoverAmount">{{localize "UTOPIA.Item.Gear.Resource.recoverAmount"}}</label>
            {{formInput ../systemFields.resource.fields.recoverAmount value=resource.recoverAmount name=(concat "system.resources." @index ".recoverAmount") localize=true}}
          </div>

          <div class="flexcol">
            <label for="resource.{{@index}}.recoverInterval">{{localize "UTOPIA.Item.Gear.Resource.recoverInterval"}}</label>
            {{formInput ../systemFields.resource.fields.recoverInterval value=resource.recoverInterval name=(concat "system.resources." @index ".recoverInterval") localize=true}}
          </div>

        </fieldset>

        <button type="button" class="grid-span-2" data-action="deleteResource" data-index="{{@index}}"><i class="fas fa-trash"></i> {{localize "UTOPIA.Item.Gear.deleteResource"}}</button>
      </details>
    {{/each}}
  </div>
</div>