 <header class='sheet-header'>
  <img
    class='item-icon'
    src='{{item.img}}'
    data-edit='img'
    data-action="image"
    title='{{item.name}}'
  />
  <div class="flexcol">
    <div class='header-fields'>
      <input
        name='name'
        type='text'
        class="item-name-input"
        value='{{item.name}}'
        data-action="update"
        placeholder='Name'
      />
    </div>
    <div class="gear-materials">
      <label for="system.material.amount">{{localize "UTOPIA.Item.Gear.materialComponents"}}</label>
      {{formInput systemFields.material.fields.amount value=system.material.amount name="system.material.amount" localize=true}}
      
      <label for="system.refinement.amount">{{localize "UTOPIA.Item.Gear.refinementComponents"}}</label>
      {{formInput systemFields.refinement.fields.amount value=system.refinement.amount name="system.refinement.amount" localize=true}}
      
      <label for="system.power.amount">{{localize "UTOPIA.Item.Gear.powerComponents"}}</label>
      {{formInput systemFields.power.fields.amount value=system.power.amount name="system.power.amount" localize=true}}
    </div>
  </div>
</header>