<div class="tab primary {{tab.cssClass}}" data-group="primary" data-tab="primary">
  <div class="gear-content">

    <div class="item-category">
      {{#if (eq hasFeatures false)}}
        {{formInput systemFields.category value=system.category name='system.category' localize=true}}
      {{else}}
        <input type="text" disabled value="{{localize (concat 'UTOPIA.Item.Artifice.Features.Categories.' system.category)}}">
      {{/if}}
      <i data-action="categoryDescription" class="fas fa-circle-info"></i>
    </div>

    <div class="item-formula">
      {{#each terms as |term|}}
        {{#if term.redistributions}}
          <div class="term" data-type="dice">
            <i class="fas fa-dice"></i>
            <select name="terms.{{term.id}}.redistribution" class="redistribution">
              {{#each term.redistributions as |redistribution|}}
                <option value="{{redistribution.expression}}">{{redistribution.expression}} ({{redistribution.flavor}})</option>
              {{/each}}
            </select>
          </div>
        {{else}}
          <div class="term" data-type="operator">
            <span>{{term.expression}}</span>
          </div>
        {{/if}}
      {{/each}}
    </div>
    
    <div class="gear-tags grid grid-3col">
      <span style="border-color: {{system.rarityColor}}; color: {{system.rarityColor}}">{{system.rarityOut}}</span>
      <span>{{system.cost}} Cost</span>
      <span></span>

      <span style="border-color: #90c56c; color: #90c56c">{{system.craftRequirements.material}} {{localize 'UTOPIA.Item.Artifice.Components.Types.material'}}</span>
      <span style="border-color: #c5a66c; color: #c5a66c">{{system.craftRequirements.refinement}} {{localize 'UTOPIA.Item.Artifice.Components.Types.refinement'}}</span>
      <span style="border-color: #c56cc1; color: #c56cc1">{{system.craftRequirements.power}} {{localize 'UTOPIA.Item.Artifice.Components.Types.power'}}</span>
      
      <span>{{system.slots}} Slots</span>
      <span>{{localize (lookup systemFields.handling.choices system.handling)}}</span>
      <span>{{system.actions}} Actions</span>
    </div>
    
    <div class="attributes">
      <div class="features">
        {{#each features as |feature id|}}
          <div class="feature" data-id="{{id}}">
            <div class="feature-name" data-incompatible="{{feature.incompatible}}" data-chosen="{{feature.chosen}}">
              <a data-action="removeFeature" data-id="{{id}}">
                <i class="fas fa-trash"></i>
              </a>
              <p>
                <span class="cost">[{{feature.costOut}}]</span> 
                {{feature.name}}&nbsp;&nbsp;
                <span class="stacks">
                  {{#if (eq feature.system.stackable "stackable")}}<a data-action="decreaseStacks" data-id="{{id}}"><i class="fas fa-fw fa-minus"></i></a>{{/if}}
                  {{feature.stacks}}
                  {{#if (eq feature.system.stackable "stackable")}}<a data-action="increaseStacks" data-id="{{id}}"><i class="fas fa-fw fa-plus"></i></a>{{/if}}
                </span>
              </p>
              {{#if feature.system.variables.cost}}
                <div class="cost-variable">
                  <span>X = </span>
                  <input 
                    name="system.features.{{id}}.system.variables.cost.value" 
                    value={{feature.system.variables.cost.value}} 
                    type="number" 
                    max="{{feature.system.costLimit}}"
                    data-variable="cost"
                    data-id="{{id}}"
                    class="cost-variable"/>
                </div>
              {{/if}}
            </div>
            {{#if feature.choices}}
              <div class="choices">
                {{#each feature.choices as |choice|}}
                  <div class="choice" data-id="{{id}}" data-choice="{{choice}}" data-action="choosePrompt" {{#if (eq feature.choice choice)}}selected{{/if}}>
                    <span>{{choice}}</span>
                  </div>
                {{/each}}
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>

    <button class="crafting-button" data-action="toggleCrafting">Crafting</button>

  </div>
</div>