<div class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <datalist id="resources">
    {{#each system.resources as |resource|}}
      <option value="{{resource.name}}">{{resource.resourceId}}</option>
    {{/each}}

    {{#if item.parent}}
      {{#each item.parent.system.resources as |resource|}}
        <option value="{{resource.name}}">{{resource.resourceId}}</option>
      {{/each}}
    {{/if}}
  </datalist>
    
  <div class="flexrow">

    <aside class="common-attributes grid-span-2">
      <h3>{{tab.title}}</h3>
      <div class="grid grid-2col">
        <label for="system.rarityPoints">{{localize "UTOPIA.Item.Gear.rarityPoints"}}</label>
        {{formInput systemFields.rarityPoints value=system.rarityPoints name="system.rarityPoints" localize=true}}

        <label for="system.value">{{localize "UTOPIA.Item.value"}}</label>
        {{formInput systemFields.value value=system.value name="system.value" localize=true}}
        
        <span class="derived-data">{{system.price.silver}} {{localize 'UTOPIA.Item.Gear.Price.silver'}}</span>
        <span class="derived-data">{{system.price.utian}} {{localize 'UTOPIA.Item.Gear.Price.utianCredits'}}</span>

        <label for="system.slots">{{localize "UTOPIA.CommonTerms.slots"}}</label>
        {{formInput systemFields.slots value=system.slots name="system.slots" localize=true}}

        {{#if (not system.handheld)}}
          <label for="system.equippable">{{localize "UTOPIA.Item.Gear.equippable"}}</label>
          <label class="switch" for="system.equippable">
            <input type="checkbox" id="system.equippable" name="system.equippable" {{#if (eq system.equippable true)}} checked {{/if}} />
            <div class="slider round"></div>
          </label>

          {{#if system.equippable}}
            <label for="system.slot">{{localize "UTOPIA.Item.Gear.slot"}}</label>
            {{formInput systemFields.slot value=system.slot name="system.slot" localize=true}}
          {{/if}}
        {{/if}}

        {{#if (not system.equippable)}}
          <label for="system.handheld">{{localize "UTOPIA.Item.Gear.handheld"}}</label>
          <label class="switch" for="system.handheld">
            <input type="checkbox" id="system.handheld" name="system.handheld" {{#if (eq system.handheld true)}} checked {{/if}} />
            <div class="slider round"></div>
          </label>

          {{#if system.handheld}}
            <label for="system.hands">{{localize "UTOPIA.Item.Gear.hands"}}</label>
            {{formInput systemFields.hands value=system.hands name="system.hands" localize=true}}
          {{/if}}
        {{/if}}

      </div>  
    </aside>

    <div class="gear-attributes grid-span-3">
      <div class="flexrow">
        <select class="add-options" name="addOptions" id="addOptions" data-action="addOptions">
          <option value="strike">{{localize "UTOPIA.Item.Gear.strike"}}</option>
          <option value="action">{{localize "UTOPIA.Item.action"}}</option>
          <option value="resource">{{localize "UTOPIA.Item.Gear.resource"}}</option>
        </select>
        <button type="button" class="add-item" data-action="addItem">
          <i class="fas fa-plus"></i>
          {{localize "UTOPIA.Math.add"}}
        </button>
      </div>

      {{#each system.strikes as |strike|}}
        <details class="strike">
          <summary><i class="fas fa-swords"></i> <b>{{localize "UTOPIA.Item.Gear.strike"}}:</b> {{strike.name}}</summary>
          
          <fieldset class="strike-attributes">
            <legend><i class="fas fa-sword"></i> {{localize "UTOPIA.Item.Gear.Strike.attributes"}}</legend>

            <div class="flexcol grid-span-2">
              <label for="strikes.{{@index}}.name">{{localize "UTOPIA.Item.Gear.Strike.name"}}</label>
              {{formInput ../systemFields.strike.fields.name value=strike.name name=(concat "system.strikes." @index ".name") localize=true}}
            </div>

            <div class="flexcol">
              <label for="strikes.{{@index}}.template">{{localize "UTOPIA.Item.Gear.Strike.template"}}</label>
              {{formInput ../systemFields.strike.fields.template value=strike.template name=(concat "system.strikes." @index ".template") localize=true}}
            </div>

            <div class="flexcol">
              <label for="strikes.{{@index}}.accuracy">{{localize "UTOPIA.Item.Gear.Strike.accuracy"}}</label>
              <label class="switch">
                <input type="checkbox" id={{concat "system.strikes." @index ".accuracy"}} name={{concat "system.strikes." @index ".accuracy"}} {{#if (eq strike.accuracy true)}} checked {{/if}} />
                <div class="slider round"></div>
              </label>
            </div>

            <div class="flexcol">
              <span>{{localize "UTOPIA.Item.Gear.Strike.range"}}</span>
              <div class="flexrow">
              
                {{formInput ../systemFields.strike.fields.range.fields.close value=strike.range.close name=(concat "system.strikes." @index ".range.close") localize=true}}
                  /
                {{formInput ../systemFields.strike.fields.range.fields.far value=strike.range.far name=(concat "system.strikes." @index ".range.far") localize=true}}

              </div>
            </div>

            <div class="flexcol grid-span-2">
              <label for="strikes.{{@index}}.resource">{{localize "UTOPIA.Item.Gear.Strike.resource"}}</label>
              <input type="text" list="resources" name="system.strikes.{{@index}}.resource" value="{{action.resource}}" />
            </div>

            <div class="flexcol">
              <label for="strikes.{{@index}}.consumed">{{localize "UTOPIA.Item.Gear.Strike.consumed"}}</label>
              {{formInput ../systemFields.strike.fields.consumed value=strike.consumed name=(concat "system.strikes." @index ".consumed") localize=true}}
            </div>


            <div class="flexcol grid-span-3">
              <label for="strikes.{{@index}}.damage">{{localize "UTOPIA.Item.Gear.Strike.damage"}}</label>
              {{formInput ../systemFields.strike.fields.damage value=strike.damage name=(concat "system.strikes." @index ".damage") localize=true}}
            </div>

            <div class="flexcol grid-span-3">
              <label for="strikes.{{@index}}.flavor">{{localize "UTOPIA.Item.flavor"}}</label>
              {{formInput ../systemFields.strike.fields.flavor value=strike.flavor name=(concat "system.strikes." @index ".flavor") localize=true}}
            </div>

          </fieldset>

          <button type="button" class="grid-span-2" data-action="deleteStrike" data-index="{{@index}}"><i class="fas fa-trash"></i> {{localize "UTOPIA.Item.Gear.deleteStrike"}}</button>
        </details>
      {{/each}}

      {{#each system.actions as |action|}}
        <details class="action">
          <summary><i class="fas fa-wand"></i> <b>{{localize "UTOPIA.Item.action"}}:</b> {{action.name}}</summary>
          
          <fieldset class="action-attributes">
            <legend><i class="fas fa-wand-magic-sparkles"></i> {{localize "UTOPIA.Item.Action.attributes"}}</legend>

            <div class="flexcol grid-span-2">
              <label for="actions.{{@index}}.name">{{localize "UTOPIA.Item.Action.name"}}</label>
              {{formInput ../systemFields.action.fields.name value=action.name name=(concat "system.actions." @index ".name") localize=true}}
            </div>

            <div class="flexcol">
              <label for="actions.{{@index}}.category">{{localize "UTOPIA.Item.Action.category"}}</label>
              {{formInput ../systemFields.action.fields.category value=action.category name=(concat "system.actions." @index ".category") localize=true}}
            </div>

            <div class="flexcol">
              <label for="actions.{{@index}}.type">{{localize "UTOPIA.Item.Action.type"}}</label>
              {{formInput ../systemFields.action.fields.type value=action.type name=(concat "system.actions." @index ".type") localize=true}}
            </div>

            <div class="flexcol">
              <label for="actions.{{@index}}.cost">{{localize "UTOPIA.Item.Action.cost"}}</label>
              {{formInput ../systemFields.action.fields.cost value=action.cost name=(concat "system.actions." @index ".cost") localize=true}}
            </div>

            <div class="flexcol">
              <label for="actions.{{@index}}.stamina">{{localize "UTOPIA.Item.Action.stamina"}}</label>
              {{formInput ../systemFields.action.fields.stamina value=action.stamina name=(concat "system.actions." @index ".stamina") localize=true}}
            </div>
            
            {{#if (eq action.category "trait")}}
              <div class="flexcol">
                <label for="actions.{{@index}}.trait">{{localize "UTOPIA.Item.Action.trait"}}</label>
                {{formInput ../systemFields.action.fields.trait value=action.trait name=(concat "system.actions." @index ".trait") localize=true}}
              </div>

              <div class="flexcol grid-span-2">
                <label for="actions.{{@index}}.modifier">{{localize "UTOPIA.Item.Action.modifier"}}</label>
                {{formInput ../systemFields.action.fields.modifier value=action.modifier name=(concat "system.actions." @index ".modifier") localize=true}}
              </div>
            {{/if}}

            {{#if (eq action.category "damage")}}
              <div class="flexcol grid-span-2">
                <label for="actions.{{@index}}.formula">{{localize "UTOPIA.CommonTerms.formula"}}</label>
                {{formInput ../systemFields.action.fields.formula value=action.formula name=(concat "system.actions." @index ".formula") localize=true}}
              </div>

              <div class="flexcol">
                <label for="actions.{{@index}}.template">{{localize "UTOPIA.Item.Action.template"}}</label>
                {{formInput ../systemFields.action.fields.template value=action.template name=(concat "system.actions." @index ".template") localize=true}}
              </div>
            {{/if}}

            {{#if (eq action.category "macro")}}
              <div class="flexcol grid-span-2">
                <label for="actions.{{@index}}.macro">{{localize "UTOPIA.Item.Action.macro"}}</label>
                {{formInput ../systemFields.action.fields.macro value=action.macro name=(concat "system.actions." @index ".macro") localize=true}}
              </div>

              <div class="flexcol">
                <label for="actions.{{@index}}.actor">{{localize "UTOPIA.Item.Action.actor"}}</label>
                {{formInput ../systemFields.action.fields.actor value=action.actor name=(concat "system.actions." @index ".actor") localize=true}}
              </div>
            {{/if}}

            <div class="flexcol grid-span-2">
              <label for="actions.{{@index}}.resource">{{localize "UTOPIA.Item.Action.resource"}}</label>
              {{formInput ../systemFields.action.fields.resource value=action.resource name=(concat "system.actions." @index ".resource") localize=true}}
            </div>

            <div class="flexcol">
              <label for="actions.{{@index}}.consumed">{{localize "UTOPIA.Item.Action.consumed"}}</label>
              {{formInput ../systemFields.action.fields.consumed value=action.consumed name=(concat "system.actions." @index ".consumed") localize=true}}
            </div>

            <div class="flexcol grid-span-3">
              <label for="actions.{{@index}}.flavor">{{localize "UTOPIA.Item.flavor"}}</label>
              {{formInput ../systemFields.action.fields.flavor value=action.flavor name=(concat "system.actions." @index ".flavor") localize=true}}
            </div>

          </fieldset>

          <button type="button" class="grid-span-2" data-action="deleteAction" data-index="{{@index}}"><i class="fas fa-trash"></i> {{localize "UTOPIA.Item.deleteAction"}}</button>
        </details>
      {{/each}}

      {{#each system.resources as |resource|}}
        <details class="resource">
          <summary><i class="fas fa-box"></i> <b>{{localize "UTOPIA.Item.Gear.resource"}}:</b> {{resource.name}}</summary>
          
          <fieldset class="resource-attributes">
            <legend><i class="fas fa-box-open"></i> <b>{{localize "UTOPIA.Item.Gear.resource"}}:</b> {{localize "UTOPIA.Item.Gear.Resource.attributes"}}</legend>

            <div class="flexcol grid-span-5">
              <label for="resource.{{@index}}.name">{{localize "UTOPIA.Item.Gear.Resource.name"}}</label>
              {{formInput ../systemFields.resource.fields.name value=resource.name name=(concat "system.resources." @index ".name") localize=true}}
            </div>

            <div class="flexcol">
              <label for="resource.{{@index}}.amount">{{localize "UTOPIA.Item.Gear.Resource.amount"}}</label>
              {{formInput ../systemFields.resource.fields.amount value=resource.amount name=(concat "system.resources." @index ".amount") localize=true}}
            </div>

            <div class="flexcol">
              <label for="resource.{{@index}}.max">{{localize "UTOPIA.Item.Gear.Resource.max"}}</label>
              {{formInput ../systemFields.resource.fields.max value=resource.max name=(concat "system.resources." @index ".max") localize=true}}
            </div>

            <div class="flexcol">
              <label for="resource.{{@index}}.recoverAmount">{{localize "UTOPIA.Item.Gear.Resource.recoverAmount"}}</label>
              {{formInput ../systemFields.resource.fields.recoverAmount value=resource.recoverAmount name=(concat "system.resources." @index ".recoverAmount") localize=true}}
            </div>

            <div class="flexcol">
              <label for="resource.{{@index}}.recoverInterval">{{localize "UTOPIA.Item.Gear.Resource.recoverInterval"}}</label>
              {{formInput ../systemFields.resource.fields.recoverInterval value=resource.recoverInterval name=(concat "system.resources." @index ".recoverInterval") localize=true}}
            </div>
            
            <div class="flexcol">
              <label for="resource.{{@index}}.propagateToActor">{{localize "UTOPIA.Item.Gear.Resource.propagateToActor"}}</label>
              <label class="switch" for="resource.propagateToActor">
                <input type="checkbox" id="resource.propagateToActor" name={{concat "system.resources." @index ".propagateToActor"}} {{#if (eq resource.propagateToActor true)}} checked {{/if}} />
                <div class="slider round"></div>
              </label>
            </div>

          </fieldset>

          <button type="button" class="grid-span-2" data-action="deleteResource" data-index="{{@index}}"><i class="fas fa-trash"></i> {{localize "UTOPIA.CommonTerms.deleteResource"}}</button>
        </details>
      {{/each}}

      <hr/>

      <div class="flexcol">
        <label for="system.flavor"><i class="fas fa-utensils"></i>&nbsp;&nbsp;{{localize "UTOPIA.Item.flavor"}}</label>
        {{#if editable}}
          <prose-mirror name="system.flavor" data-document-u-u-i-d="{{item.uuid}}" value="{{system.flavor}}" collaborate="true" toggled="true">
            {{{enrichedFlavor}}}
          </prose-mirror>
        {{else}} 
          {{{enrichedFlavor}}}
        {{/if}}
      </div>

    </div>

  </div>
</div>