<div class="tab attributes {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  <div class="spell-attributes">

    <div class="grid grid-9col">
      <div class="flexcol spell-art grid-span-3">
        <label for="system.art">{{localize 'UTOPIA.SpellFeatures.art'}}</label>
        {{formInput systemFields.art value=system.art name='system.art' localize=true}}
      </div>
      <div class="flexcol grid-span-2">
        <label for="system.cost">{{localize 'UTOPIA.SpellFeatures.cost'}}</label>
        {{formInput systemFields.cost value=system.cost name='system.cost' localize=true}}
      </div>
      <div class="flexcol grid-span-2">
        <label for="system.costMultiplier">{{localize 'UTOPIA.SpellFeatures.costMultiplier'}}</label>
        {{formInput systemFields.costMultiplier value=system.costMultiplier name='system.costMultiplier' localize=true}}
      </div>
      <div class="flexcol grid-span-2">
        <label for="system.costResult">{{localize 'UTOPIA.SpellFeatures.costResult'}}</label>
        <input type="text" disabled value="{{system.costResult}}" />
      </div>
    </div>

    <div class="grid grid-2col">
      <div class="flexcol">
        <label for="system.allowRedistribution">{{localize 'UTOPIA.SpellFeatures.allowRedistribution'}}</label>
        {{formInput systemFields.allowRedistribution value=system.allowRedistribution name='system.allowRedistribution' localize=true}}
      </div>
      <div class="flexcol">
        <label for="system.doesTarget">{{localize 'UTOPIA.SpellFeatures.doesTarget'}}</label>
        {{formInput systemFields.doesTarget value=system.doesTarget name='system.doesTarget' localize=true}}
      </div>
    </div>

    {{#if (eq system.doesTarget "true")}}
      <div class="grid grid-3col">
        <div class="flexcol">
          <label for="system.targetType">{{localize 'UTOPIA.SpellFeatures.targetType'}}</label>
          {{formInput systemFields.targetType value=system.targetType name='system.targetType' localize=true}}
        </div>
        {{#if (eq system.targetType 'template')}}
          <div class="flexcol">
            <label for="system.templateType">{{localize 'UTOPIA.SpellFeatures.templateType'}}</label>
            {{formInput systemFields.templateType value=system.templateType name='system.templateType' localize=true}}
          </div>
        {{/if}}
        {{#if (and (eq system.templateType 'cone') (eq system.targetType 'template'))}}
          <div class="flexcol">
            <label for="system.templateAngle">{{localize 'UTOPIA.SpellFeatures.templateAngle'}}</label>
            {{formInput systemFields.templateAngle value=system.templateAngle name='system.templateAngle' localize=true}}
          </div>
        {{/if}}
      </div>
    {{/if}}

    <div class="grid grid-2col">
      <div class="flexcol grid-span-2">
        <label for="system.formula">{{localize 'UTOPIA.Item.formula'}}</label>
        {{formInput systemFields.formula value=system.formula name='system.formula' localize=true}}
      </div>
    </div>

    {{#each variables as |variable index|}}
      <div class="grid grid-6col">
        <div class="flexcol">
          <label>{{localize 'UTOPIA.SpellFeatures.Variables.character'}}</label>
          <input type="text" name="system.variables.[{{index}}].character" maxlength="1" />
        </div>
        <div class="flexcol grid-span-3">
          <label>{{localize 'UTOPIA.SpellFeatures.Variables.type'}}</label>
          <input type="text" name="system.variables.[{{index}}].type" />
        </div>
        <div class="flexcol grid-span-2">
          <label>&nbsp;</label>
          <button data-action="deleteVariable">{{localize 'UTOPIA.SpellFeatures.Variables.delete'}}</button>
        </div>
      </div>
    {{/each}}

    <div class="flexcol">
      <button data-action="newVariable" data-type="variable" name="newVariable" id="newVariable">{{localize 'UTOPIA.SpellFeatures.Variables.new'}}</button>
    </div>
    

    <div class="flexcol">
      <label for="system.description">{{localize 'UTOPIA.Descriptions.description'}}</label>
      {{#if editable}}
        <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
          {{{enrichedDescription}}}
        </prose-mirror>
      {{else}} 
        {{{enrichedDescription}}}
      {{/if}}
    </div>
  </div>
</div>