<div class="tab description {{tab.cssClass}}"  data-group="primary" data-tab="description">
  {{#if editable}}
    <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
      {{{enrichedDescription}}}
    </prose-mirror>
  {{else}} 
    {{{enrichedDescription}}}
  {{/if}}

  <fieldset>
    <legend>{{localize "UTOPIA.Descriptions.gmSecrets"}}</legend>
    {{#if gm}}
      <prose-mirror name="system.gmSecrets" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.gmSecrets}}" collaborate="true" toggled="true">
        {{{enrichedGMNotes}}}
      </prose-mirror>
    {{/if}}
  </fieldset>
</div>