<section class="tab details {{tab.cssClass}}" data-group="primary" data-tab="details">
  <div class="form-group stacked">
    <label>{{ localize "EFFECT.Description" }}</label>
    {{#if editable}}
      <prose-mirror name="data.description" data-document-u-u-i-d="{{data.uuid}}" value="{{data.description}}" collaborate="true" toggled="true">
        {{{enrichedDescription}}}
      </prose-mirror>
    {{else}} 
      {{{enrichedDescription}}}
    {{/if}}  
  </div>

  <div class="form-group">
    <label>Status Conditions</label>
    <div class="form-fields">
      <multi-select name="statuses">
        {{#each statuses as |status|}}
          <option value="{{status.id}}" {{status.selected}}>{{status.label}}</option>
        {{/each}}
      </multi-select>
    </div>
  </div>

  <div class="form-group">
    <label>Type</label>
    <div class="form-fields">
      <select name="type">
        {{#each types as |type|}}
          <option value="{{type.id}}" {{type.selected}}>{{type.label}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</section>

