<div class="skill-grid-default">
  {{#each talentTrees as |parentTree parentTreeName|}}
    
      <div class="skill-parent-tree" style="background-color: {{parentTree.color}}">
        <span class="skill-tree-header">{{parentTreeName}}</span>

        <div class="trees">
          {{#each parentTree as |talentTree talentTreeName|}}
            <div class="skill-tree">
              
              {{#each talentTree as |talent|}}
                {{#unless @last}}
                  {{#unless @first}}
                    <svg class="skill-connector" width="60" height="95">
                      <line x1="0" y1="48" x2="60" y2="48" style="
                        {{#if (eq talent.available "available")}}stroke: #ffffff;
                        {{else if (eq talent.available "taken")}}stroke: #d3c78c;
                        {{else}}stroke: #5d142b;{{/if}} 
                        stroke-width: 4;" />
                      {{!-- <polygon points="0,32 60,48 0,64" style="
                        {{#if (eq talent.available "available")}}fill: #ffffff;
                        {{else if (eq talent.available "taken")}}fill: #d3c78c;
                        {{else}}fill: #5d142b;{{/if}}" /> --}}
                    </svg>
                  {{/unless}}
                  
                  <a class="skill" data-action="talentClick" data-talent="{{talent.id}}" {{#if (eq talent.available "available")}}available{{else if (eq talent.available "locked")}}unavailable{{else}}taken{{/if}}>
                    <div class="skill-icon">
                      <img class="skill-image" title="{{talent.name}}" src="{{talent.img}}" alt="{{talent.name}}">
                      {{#if (eq talent.available "locked")}}
                        <img class="locked-image" src="systems/utopia/assets/icons/talents/chains.svg" alt="Locked">
                      {{/if}}
                    </div>
                    <div class="skill-name">
                      {{talent.name}}
                    </div>
                  </a>
                  
                {{/unless}}
              {{/each}}

            </div>
          {{/each}}  
        </div>
      </div>
  {{/each}}
</div>