<div>
  <div class="skill-description" {{#if (eq talent.available "available")}}available{{else if (eq talent.available "locked")}}unavailable{{else}}taken{{/if}}>
    <div class="skill-points">
      <span class="body">
          <i class="fa-solid fa-shield" data-tooltip="{{localize 'UTOPIA.Points.body'}}"></i>&nbsp;&nbsp;{{localize 'UTOPIA.Points.body'}}: 
          {{numberFormat talent.body decimals=0}}
      </span>
      <span class="mind">
          <i class="fa-solid fa-brain" data-tooltip="{{localize 'UTOPIA.Points.mind'}}"></i>&nbsp;&nbsp;{{localize 'UTOPIA.Points.mind'}}: 
          {{numberFormat talent.mind decimals=0}}
      </span>
      <span class="soul">
          <i class="fa-solid fa-flame" data-tooltip="{{localize 'UTOPIA.Points.soul'}}"></i>&nbsp;&nbsp;{{localize 'UTOPIA.Points.soul'}}: 
          {{numberFormat talent.soul decimals=0}}
      </span>
    </div>
    {{{talent.description}}}
    {{#if talent.formula}}
      <div class="skill-formula">
        <strong>{{localize 'UTOPIA.Item.formula'}}:</strong> {{talent.formula}}
      </div>
    {{/if}}
    {{#if (eq talent.available "locked")}}
      <div class="skill-requirements">
        <button class="locked" disabled><strong>LOCKED</strong></button>
      </div>
    {{else if (eq talent.available "taken")}}
      <div class="skill-requirements">
        <button class="taken" disabled><strong>TAKEN</strong></button>
      </div>
    {{else}}
      <div class="skill-requirements">
        <button class="unlocked" disabled><strong>AVAILABLE</strong></button>
      </div>
    {{/if}}
  </div>
</div>  