<div class="item-header">
  {{#if (eq item.type "species")}}
    <label class="mode-toggle">
      <input type="checkbox" data-action="toggleMode" data-target="data.attributes" data-mode="edit">
      {{localize "UTOPIA.Items.Species.ToggleMode"}}
    </label>
  {{/if}}


  <input class="item-name" name='name' type='text' class="item-name-input" value='{{item.name}}' placeholder='Name' />
  <img class='item-icon' src='{{item.img}}' data-edit='img' data-action="image" title='{{item.name}}'/>
  {{#each headerFields as |field|}}
    {{log field}}
    {{#if (eq field.field "hr")}}
      <hr/>
    {{else}}
      {{formGroup field.field classes="item-header-field" value=field.value editable=field.editable stacked=field.stacked localize=true options=field.options columns=field.columns}}
    {{/if}}
  {{/each}}
</div>

  