{{! This template is a fallback for when items don't have more specific templates. }}
{{! Generally, you'll want to make more specific templates when possible. }}
<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Description</a>
    <a class='item' data-tab='attributes'>Attributes</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    <div class="flexcol">
      <label for="weapon-tags">{{localize 'UTOPIA.Descriptions.tags'}}</label>
      <input type="text" class="weapon-tags" name="weapon-quality" placeholder="{{localize 'UTOPIA.Descriptions.tags'}}" value="{{system.tags}}"/>
    </div>

    <div class="grid grid-4col">
      <div class="flexcol">
        <label for="system.handling">{{localize 'UTOPIA.Weapons.handling'}}</label>
        <input type="number" class="weapon-handling" name="system.handling" placeholder="{{localize 'UTOPIA.Weapons.handling'}}" value="{{system.handling}}"/>
      </div>
      <div class="flexcol">
        <label for="system.range">{{localize 'UTOPIA.Weapons.range'}}</label>
        <input type="text" class="weapon-range" name="system.range" placeholder="{{localize 'UTOPIA.Weapons.range'}}" value="{{system.range}}"/>
      </div>
      <div class="flexcol">
        <label for="system.ranged">{{localize 'UTOPIA.Item.ranged'}}</label>
        <input type="checkbox" class="weapon-ranged" name="system.ranged" placeholder="{{localize 'UTOPIA.Item.ranged'}}" value="{{system.ranged}}"/>
      </div>
      <div class="flexcol">
        <label for="system.formula">{{localize 'UTOPIA.Item.formula'}}</label>
        <input type="text" class="weapon-formula" name="system.formula" placeholder="{{localize 'UTOPIA.Item.formula'}}" value="{{system.formula}}"/>
      </div>
    </div>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
    </div>
  </section>
</form>