<span class="details-label" style="border: 2px solid {{color}}">
  <i class="fa-fw {{icon}}"></i>
  {{localize (concat 'UTOPIA.Actor.Subtraits.' trait '.long')}}
</span>

<button class="action-overlay" data-action="subtract" data-subtrait="{{trait}}">
  <span class="data-number">
    <i class="fa-solid fa-minus fa-fw" data-tooltip="{{localize 'UTOPIA.Math.subtract'}}"></i>
  </span>
</button>

<div class="data-overlay">
  <span class="data-number">
    {{numberFormat total decimals=0}}
    <i class="fa-solid fa-circles-overlap fa-fw" data-tooltip="{{localize (concat 'UTOPIA.Actor.Subtraits.' trait '.long')}}"></i>
  </span>
</div>

<button class="action-overlay" data-action="add" data-subtrait="{{trait}}">
  <span class="data-number">
    <i class="fa-solid fa-plus fa-fw" data-tooltip="{{localize 'UTOPIA.Math.add'}}"></i>
  </span>
</button>

<div class="data-overlay">
  <span class="data-number">
    {{numberFormat mod decimals=0}}
    <i class="fa-solid fa-circle-notch fa-fw" data-tooltip="{{localize (concat 'UTOPIA.Actor.Subtraits.' trait '.long')}}"></i>
  </span>
</div>
